[2016-10-18 17:14] chouseknecht commented on #203
Not sure why, but I'm not having the same experience. I'm able to build the container images without any issues:

Built a fresh vagrant box:

[code]

Installed the following packages:

[code]

Installed Docker from the Docker yum repo:

[code]

Created a `docker` group and added it to the vagrant user, and started and enabled the docker service.

Upgrade setuptools: `sudo pip install --upgrade set

[2016-10-18 18:19] rabem00 commented on #203
I will verify. My build steps where a little different, so i will do your steps now.

[2016-10-18 18:55] rabem00 commented on #203
The only difference i see is the docker version that are installed from the repos. The steps i used:

[code]

My docker version is:

[code]

**Your described steps are working. For later use (and for other users):**

[code]

Will close the issue, thx for the work!

[2016-10-18 19:01] rabem00 commented on #203
Thx!

[2016-10-18 19:01] #203 closed, assigned to nobody

[2016-10-18 22:41] woohgit commented on #202
@chouseknecht thanks for the info.

I have access to more than ~2000 repos probably. Nothing else is using my github credentials.

Isn't it possible to add a new feature to Galaxy (web) to be able to provide the repo URL instead of scanning and analyzing all the public repos? This feature is available in the command-line tool, although the login with 2FA only works with the galaxy-qa.ansible.com U

[2016-10-18 22:58] woohgit commented on #202
This morning after hitting the refresh button the new ansibe repos appeared on the website so I was able to import them finally.

[2016-10-19 03:31] chouseknecht commented on #202
Not sure what you mean by "although the login with 2FA only works with the _galaxy-qa.ansible.com_ URL". It _should_ work with _galaxy.ansible.com_. If it's not working, then we definitely need to fix that. I'm actually going to test it now while I write this, so please continue reading...

The `ansible-gaalxy` command receives a token from the Galaxy server and stores it in ~/.ansible_galaxy. Unf

[2016-10-19 03:35] woohgit commented on #202
It's working now. It wasn't working yesterday. I got Bad Request 400 errors every time when I tried to auth against galaxy.ansible.com but was working with galaxy-qa.

Also this note is a bit misleading:

[code]

So why the login command requires to use the Galaxy beta site?

[2016-10-19 03:38] chouseknecht commented on #202
What version of Ansible are you using? Are you using 2.0? When we first introduced the `login` command, it was a _beta_ thing that only worked with _galaxy-qa_. That has since gone away.

[2016-10-19 03:39] woohgit commented on #202
Ah ok. I though it's for all 2.0+.

That note should be removed now I think.

[2016-10-19 03:40] chouseknecht commented on #202
O. I see that in our docs. Yeah, that should go away. I'll fix that. Thank you for pointing that out.

[2016-10-19 03:41] woohgit commented on #202
Cool thanks.

I think this issue should be closed. Everything seems to work now.

[2016-10-19 04:26] chouseknecht commented on #202
Awesome! Thank you for you patience and help!

[2016-10-19 04:26] #202 closed, assigned to nobody

[2016-10-19 08:40] #178 closed, assigned to nobody

[2016-10-19 08:42] Brunty commented on #178
I'll have a look when I get some time (then maybe this will be re-opened)

I fixed the issue by fixing the permissions, so will need to break the permissions in order to re-create the problem, and since then I've updated ansible etc. So it's possible I may not be able to re-create the problem.

[2016-10-20 09:55] Oliboy50 opened #204 "Install ansible-galaxy (only galaxy) on Windows"
## Why

Because now that `Vagrant` allows to provision VMs without having to install `ansible` on the host machine... the only thing missing to fully support Windows (as host) is to be able to run `ansible-galaxy` on Windows (to easily download ansible roles that will be run in Vagrant).

Would be an awesome feature for developers, trust me.

[2016-10-20 18:56] jellevandehaterd opened #205 "Invalid platform: Alpine 3.x"
Please add Alpine linux as a valid platform

[2016-10-21 05:43] chouseknecht opened #206 "Make platforms more like tags"
## Problem

The platform list continues to grow. Requests to add additional operating systems and versions are never-ending, and we perpetually fail to complete them in a timely fashion.

The current incarnation of platform does not really fit network operating systems. In many cases there either is no version or there are many, many versions, and in both cases we have adopted using _any_ for the

[2016-10-21 13:47] chouseknecht commented on #204
Curious if you could run `ansible-galaxy` from within a container on a Windows host. Presumable you can run Docker on Windows? Maybe not? I don't know. If you can, you could use the [ansible/ansible-container-builder](https://hub.docker.com/r/ansible/ansible-container-builder/) image, in which case something like the following might work:

[code]

[2016-10-21 14:12] Oliboy50 commented on #204
@chouseknecht thanks, you're right, but it seems a bit overkill to force a user to install Docker For Windows (even if it should be installed by default on Windows IMHO) to be able to run `ansible-galaxy`... (I mean, run a VM to be able to run a VM... sounds weird)

Anyway, I found this configuration key in the Vagrant `ansible_local` provisionning: `galaxy_role_file` where you can point to a gala

[2016-10-21 14:12] #204 closed, assigned to nobody

[2016-10-21 15:07] chouseknecht commented on #206
@gregdek thoughts or concerns?

I'm hoping to prevent us from going here: https://github.com/ansible/ansible/issues/18109  I think we can make the _platforms experience_ a much better one.

[2016-10-21 15:16] gregdek commented on #206
I'm inclined to agree. Seems clear that by mandating certain platforms, we've become a bottleneck.

What we lose is the ability to enforce uniformity -- but you can't have everything. Means that our fuzzy search may have to be a bit better, and also means that role owners will have incentive to make sure the platforms they choose are easily discoverable.

[2016-10-21 20:05] dmishh opened #207 "Error 500 on signup using GitHub"
<img width="455" alt="screen shot 2016-10-21 at 11 04 33 pm" src="https://cloud.githubusercontent.com/assets/822562/19609996/ca32c74c-97e2-11e6-8192-a6efaf4f44a4.png">

[2016-10-21 20:28] ericsysmin commented on #207
May be related to the Dyn attack against GitHub right now.

[2016-10-21 20:39] dmishh commented on #207
@ericsysmin yeah, probably. Works already, btw.

[2016-10-21 20:39] #207 closed, assigned to nobody

[2016-10-24 09:01] icamys commented on #195
Looks like everything works fine now. Thanks!

[2016-10-25 21:11] chouseknecht opened #208 "Fix code block styling on role details"
Fix the styling for `#galaxy-role-detail #readme code` by removing `padding: 3px` within the context of a `<pre>` block.

[2016-10-25 21:16] chouseknecht commented on #208
For `<blockquote>` the font size should match that of the page body, but for some reason it's larger, coming in at 17.5px.

[2016-11-03 03:23] teohhanhui opened #209 "Could not process data from the API server (https://galaxy.ansible.com/api/): the JSON object must be str, not 'bytes'"
python 3.5.2
ansible 2.2.0.0

[code]

[2016-11-05 22:25] gaieges commented on #189
Thoughts on this, @chouseknecht ?

Also bringing this back up as I thought I had it configured properly, yet my ansible galaxy role still doesn't seem to get updated (tags particularly) with a properly setup travis token, configuration, and link to the galaxy/github.

[2016-11-06 07:31] tersmitten commented on #189
I have the same issue for my roles under /tersmitten and /Oefenweb. Auto updates used to work in the past.

[2016-11-07 09:45] alpegon commented on #187
Hi, several days ago I've created a role called https://galaxy.ansible.com/grycap/rol-nfs/ based on the github repo https://github.com/grycap/ansible-rol-nfs.
As you realize the name is incorrect (rol instead of role), so I've modified the github project and changed the name to https://github.com/grycap/ansible-role-nfs.
Now I have two projects in the main page of the organization: https://galaxy.

[2016-11-09 09:34] konstruktoid opened #210 "Ubuntu Yakkety is an invalid platform, and not skipped"
Ansible Galaxy fails when adding `yakkety` as a Ubuntu version, saying it's an invalid platform. Galaxy doesn't skip it either, as it says in the logs, but marks the import with `Status FAILED`.

[code]

https://github.com/konstruktoid/ansible-role-hardening/commit/ba4067e25f3d6d99b79d6715edde8be0963cb9b9
[code]

https://github.com/konstruktoid/ansible-role-hardening/commit/4c2e9b5e10b49a38e05e4e7

[2016-11-09 10:07] alpegon commented on #187
Ok, I've deleted the role grycap/ansible-role-nfs from ansible galaxy and both of the organization roles disappeared.
Problem solved.

[2016-11-10 11:57] tersmitten commented on #38
Any updates on this feature?

[2016-11-10 11:59] tersmitten commented on #189
@chouseknecht Any updates on this?

[2016-11-11 14:45] jpiron commented on #209
I had the same issue and fixed it by using pip2 to install Ansible:

[code]

[2016-11-11 14:47] rocha commented on #209
@jpiron what version of python and ansible are you using?

[2016-11-11 15:05] jpiron commented on #209
I have both python2 (2.7.12) and python3 (3.5.2) installed. However the one in my path is python2.
Same for pip (pip2 and pip3 installed, version 9.0.1) the default one being pip2.
Ansible version is 2.2.0.0.

[2016-11-11 17:57] rocha commented on #209
The error message looks like a python 3 problem:

[2016-11-14 04:18] gregdek commented on #38
Nothing yet, @tersmitten.

[2016-11-14 15:22] geerlingguy commented on #30
@chouseknecht - FYI, it seems my roles haven't been auto updating from Travis lately. I have to go to galaxy and click the import button all the time now :(

[2016-11-14 15:37] tersmitten commented on #30
@geerlingguy We have the same problem (see #/189)

[2016-11-14 15:43] geerlingguy commented on #189
+1 on this—I haven't been getting any of my roles updated in the past month or so...

[2016-11-14 18:07] chouseknecht commented on #189
Apologies for not seeing this until today. There's definitely an issue. POST requests to /api/v1/notifications are resulting in a 400 response. Working now on tracking down the issue.

[2016-11-14 19:36] tersmitten commented on #189
No worries @chouseknecht, thanks for looking into it now

[2016-11-14 21:09] chouseknecht commented on #189
So it seems that using the Travis token to verify the inbound request to Galaxy is now completely deprecated. https://github.com/travis-ci/travis-ci/issues/6435

The requests are being denied on our end because the HTTP_AUTHORIZATION header is no longer being sent. The documentation says it should still be there, but it's not.

Working on implementing the new verification method...

[2016-11-14 21:14] tersmitten commented on #189
This is probably what you're looking for https://twitter.com/travisci/status/793820549101199360

[2016-11-14 21:58] geerlingguy commented on #189
@chouseknecht - Can we reopen this ticket, maybe, or create a new one, just so I (and others who run into the issue) have a reference to check up on (instead of pestering you via other avenues ;).

[2016-11-14 22:36] nusenu opened #211 "Add FreeBSD 11.0"
Error when importing role:

Invalid platform: FreeBSD-11.0 (skipping)

[2016-11-14 23:27] skuark commented on #187
Hi. I am experiencing a similar issue after renaming some ansible role repositories on GitHub. I can't re-import neither delete old ones. The problematic repos are in the profile https://galaxy.ansible.com/dlcoder/

[2016-11-15 08:07] lae opened #212 "Unable to import role - get() returned more than one RoleVersion"
I'm seeing the following in the import log:
[code]
So curently the role isn't being updated. I'm not sure why (and whether the import appearing to be done twice is an issue).

[2016-11-15 08:08] lae commented on #212
(and seeing as I've opened an issue - can I get
fireeye-ops/ansible-role-elasticsearch and
fireeye-ops/ansible-role-system_ldap removed? they were both moved to under lae/ on github)

[2016-11-15 14:55] MarceloSaied opened #213 "Galaxy not importing roles from github"
Hi,
I ve created a role , and added to github as ansible-role-iscsi_lnx_1
my user in galaxy is connected to galaxy, yet the role do not apear.
i have googled , and acording on what i found, i tunned the meta main. yml  file
i dont really know how to proceed to publish the role
thanks

[2016-11-15 15:19] chouseknecht commented on #213
You have to log into Galaxy using your GitHub account, then go to My Roles and click the slide to the left of the role. If you don't see your role listed, click the refresh button (to the right of the search box).

[2016-11-15 15:28] chouseknecht commented on #212
The two roles are now deleted. Were you not able to delete them from My Roles page?

[2016-11-15 15:34] chouseknecht commented on #209
The python version is stated to be 3.5.2. Ansible does not yet support python 3. You'll need to switch to python 2.7.

[2016-11-15 15:34] #209 closed, assigned to nobody

[2016-11-15 16:31] MarceloSaied commented on #213
Hi chouseknecht, Thanks for your answer,
Im loged on with the github account, and used the refresh button in MY ROLES.  Still not appearing :-(
Thanks

https://github.com/MarceloSaied/ansible-role-iscsi_lnx_1

[2016-11-15 17:36] chouseknecht commented on #157
Revising this a bit...

Let's start by curating Galaxy manually similar to  [Kubernetes Charts](https://github.com/kubernetes/charts). Charts has an _incubator_ repo and a _stable_ repo. Anyone can submit anything to incubator. The _Gold Star_ charts get promoted to stable when the benevolent dictator that reviews charts decides. To be considered, a chart has to meet a published set of minimum req

[2016-11-15 17:49] lae commented on #212
Regarding deletion, I've noted multiple issues on this (such as #187). (and yeah, I wasn't able to delete them)

What happened to lae.elasticsearch and lae.system_ldap, however? I did not want those to be deleted.

[2016-11-15 18:25] chouseknecht commented on #213
The directory structure is incorrect. Everything in iscsi_lnx_1/ should move up a level. Specifically it expects to find meta/main.yml at the top level.

[2016-11-15 19:30] MarceloSaied commented on #213
Ha!. thanks for your assistance :-)

[2016-11-15 19:30] #213 closed, assigned to nobody

[2016-11-15 20:26] chouseknecht commented on #212
Not sure. I deleted the roles you requested. But there was definitely something wrong in how things were keyed. That's why the import error was happening.

[2016-11-15 21:48] lae commented on #212
Alright. I'm guessing that deleting fireeye-ops.elasticsearch ended up deleting lae.elasticsearch (and same for system_ldap). Anyway, I recreated those two roles (albeit losing any counters) so this is resolved for me.

[2016-11-15 21:48] #212 closed, assigned to nobody

[2016-11-15 21:57] chouseknecht commented on #206
@gregdek cool. i'll get started on this, since I have my Galaxy hat on this week.

[2016-11-15 22:10] chouseknecht commented on #189
I pushed a fix to the [Galaxy QA site](https://galaxy-qa.ansible.com).
- It implements [new method of verifying webhook requests](https://docs.travis-ci.com/user/notifications#Verifying-Webhook-requests)
- Travis tokens are no longer required, so removed the entry form from My Roles page
- Removed mention of Travis tokens on the About page.
- If the github_user received in TRAVIS_REPO_SLUG header

[2016-11-15 22:10] chouseknecht commented on #189
@gregdek ^

[2016-11-16 16:59] gregdek commented on #189
I'll talk to the Ansible QA team to see if they can get some cycles on this.

[2016-11-16 22:12] marcstreeter commented on #78
How do we direct comments to that?

[2016-11-16 22:16] mattclay commented on #189
@chouseknecht I just created a new role, signed up for Galaxy and configured Travis on both galaxy and galaxy-qa. I've confirmed that the automatic import on build from Travis works for galaxy-qa and is not working for galaxy.

[2016-11-17 03:44] chouseknecht commented on #189
Thanks @mattclay

Change pushed to Galaxy. Let me know, if we're good to close this issue.

[2016-11-17 04:31] chouseknecht commented on #208
Fixed.

[2016-11-17 04:31] #208 closed, assigned to nobody

[2016-11-17 05:26] mattclay commented on #189
@chouseknecht Tested and working on `galaxy.ansible.com` now. Thanks!

[2016-11-17 05:26] #189 closed, assigned to nobody

[2016-11-17 08:59] chouseknecht opened #214 "Refreshing user roles times out"
###  Problem
When user clicks refresh on My Roles, after about 30 seconds a 403 response comes back and the session is dead. To continue, user has to log back in. Refreshing my roles page shows the expected updates.

Not seeing this happen in QA, where the response is considerably faster. However, QA does not have the same volume of traffic. To construct the response we make up to 3 requests to th

[2016-11-17 09:06] chouseknecht commented on #214
The nginx change was made and pushed into production.

[2016-11-17 09:06] #214 closed, assigned to nobody

[2016-11-17 09:10] chouseknecht commented on #211
Added

[2016-11-17 09:10] #211 closed, assigned to nobody

[2016-11-17 09:11] chouseknecht commented on #210
Added the yakkety

[2016-11-17 09:11] #210 closed, assigned to nobody

[2016-11-17 09:12] chouseknecht commented on #205
Added

[2016-11-17 09:12] #205 closed, assigned to nobody

[2016-11-17 09:15] chouseknecht commented on #79
This seems to be fine the way it is.

[2016-11-17 09:15] #79 closed, assigned to nobody

[2016-11-19 22:24] thomasleveil opened #215 "add platform Synology"
I wrote a role specific to the Synology NAS which comes with their own flavor of Linux.
role : https://galaxy.ansible.com/thomasleveil/ansible-synology-docker-daemon/
It would be nice to add Synology to the list of platforms

You can find more info about Synology DSM [here](https://en.wikipedia.org/wiki/Synology_Inc.#Synology_DiskStation_Manager_.28DSM.29)

[2016-11-21 10:31] kiorky opened #216 "Import Your Roles from GitHub not working"
from my github username (login: kiorky), the import roles page doesnt update (/roleadd).

[2016-11-21 11:18] chouseknecht commented on #215
Added

[2016-11-21 11:18] #215 closed, assigned to nobody

[2016-11-21 11:47] chouseknecht commented on #216
When you say it does not update, do you mean that your roles do not show up on the list? It will only show public repositories containing a *meta/main.yml* or *ansible/meta.yml*. I also see that you are part of 9 different organizations, so you may need to update the authorized organizations in GitHub.

[2016-11-21 11:59] kiorky commented on #216
Yep, nothing shows up, but the most bizarious thing is that the spinner icon doesnt dissappear, some of my orga are very large (plone, zope, collective) and maybe its from there.

The orga im trying to import roles from is [corpusops](https://github.com/corpusops).

[2016-11-21 12:49] chouseknecht commented on #216
Have you tried importing roles using the `ansible-galaxy` command line tool? Here's the instructions: http://docs.ansible.com/ansible/galaxy.html#import-a-role

[2016-11-21 22:52] cjw296 commented on #49
@tima - the feature request was simple, the implementation potentially less so.

We're basically talking about installing dependent library software. In the Python world, we already have pip/virtualenv and conda as comparable examples, both of which support "make my current environment like this specification which comes from a file" in an idempotent way. `requirements.yml` gives us the  specifica

[2016-11-22 11:05] kiorky commented on #216
Yep, using the cli worked.

[2016-11-22 11:05] #216 closed, assigned to nobody

[2016-11-22 15:14] geerlingguy commented on #165
See also: https://github.com/pypa/pipfile

[2016-11-23 16:28] chris-short opened #217 "Galaxy Detects No Roles in GitHub"
I have removed and re-added my authorization from GitHub but multiple scans have resulted in Galaxy not being able to find any roles for my account. I've been a Galaxy "user" for a long time and am wondering if something is afoot with my account.

Thanks,
Chris

[2016-11-24 12:55] hoall opened #218 "Renamed and renamedGithub Repo blocks import"
Hi,

first of all, thank you for your great job. Normally I have no problems at all and that's great :) I really apreciate your work.

At the moment I have a problem with a renamed repository. Your service has now accepted the deletion I guess (at least part of it). The problem is that the name of the repository keeps the same for your site in the end.

I renamed my repository from nginx-proxy to

[2016-11-24 18:22] chris-short commented on #217
[code]

[2016-11-24 18:29] Ilyes512 commented on #177
So almost nearing 1 year! Just unbelievable...

I still cant add them and I have no idea why? Already tried everything I could possibly do... I am out of idea's. I just can't continue working on Ansible related things/roles if something like this holds me back. What can I do to resolve this?

I don't want to give up on this, but just don't know how to proceed.

[2016-11-24 18:42] Ilyes512 commented on #177
Okey this is something really strange, but out of a limp I just changed my role name from "base" to "Base" it now it does successfully import!!!??? The error handling is just terrible!

![image](https://cloud.githubusercontent.com/assets/2445415/20608037/fad0f99a-b27d-11e6-83d9-87ad343effc3.png)

[2016-11-26 00:57] goetzk opened #219 "Paths to share via docker"
While working through the contributing guide docker has warned about the following directories not being shared to docker (while running 'make build'). I don't know if sharing these is required so i haven't attempted a PR but thought I would mention it.

* /Users/username/.galaxy/logs
* /Users/username/.galaxy/config
* /Users/username/GitHub/galaxy

.galaxy/* wasn't created when i saw the message

[2016-11-26 06:06] goetzk opened #220 "make build from galaxy contributing guide fails on OS X"
I've been trying to get Galaxy running on OS X using the instructions available in contributing.md.

I've been tryin to get it working for some time, so thought it might be the changes I mention in #219 were required but despite making them I'm still seeing issues.

I was seeing the problem mentioned in https://github.com/ansible/ansible-container/issues/99 so deleted the containers and started ag

[2016-11-27 16:31] chouseknecht commented on #218
Overnight we run a background process that rebuilds the search index, removes roles where the GitHub repo is no longer accessible, and updates roles where the repo name has changed.  It looks like your role has been updated:

Checking in the database, the role is associated with the correct repo name:

[code]

And, I was able to kick off an import that ran successfully. Take a look at [your role o

[2016-11-27 16:31] #218 closed, assigned to nobody

[2016-11-27 17:01] chouseknecht commented on #217
There is an account on Galaxy for username *ChrisShort*, however it does not appear to be associated with a GitHub username. Let's start by fixing that.

First, if you have previously accessed Galaxy via the browser you're using, clear the browser's history, removing cookies. Now authenticate with Galaxy using your username/password. Then go to Manage Linked Accounts, and click on the GitHub logo.

[2016-11-27 17:03] chouseknecht commented on #219
Presumably you're using Docker for Mac. I have not tested the build process with Docker for Mac. It was put together using Docker Machine. Will work through it at some point, and update accordingly.

[2016-11-27 17:26] nusenu opened #221 "Add Fedora 25"
error:
[code]

[2016-11-27 17:59] chouseknecht commented on #220
It's working fine for me. I'm running the latest ansible/galaxy code from the *develop* branch and Docker for Mac 1.12.3-beta30.1 (13946). **NOTE:** there were some code commits to galaxy on 11/17. Not sure that they fix the problem, but you never know.

Before running the build I completely removed all containers and images from Docker:

[code]

Here's my configuration (from running `ansible-cont

[2016-11-27 18:02] chouseknecht commented on #220
Can you confirm that you're running the build from a *clean* environment, meaning that there are no other containers or images. And, please provide the version of Docker for Mac, and the output from `ansible-container --debug version`.

[2016-11-27 18:06] chouseknecht commented on #221
Done

[2016-11-27 18:06] #221 closed, assigned to nobody

[2016-11-27 18:10] chouseknecht commented on #219
Running Docker for Mac 1.12.3-beta30.1 (13946). If I look in preferences under File Sharing, I see the following directories are *shared*:

[code]

[2016-11-27 18:16] chouseknecht commented on #219
Running `make clean` removes all containers and images related to the galaxy project as well as the ~/.galaxy directory.

So running the following works successfully without any warnings or errors about unshared paths:

[code]

[2016-11-27 21:07] chris-short commented on #217
No joy. I had tried this previously but did so in a completely different browser now with the same effect. Whenever I click on the Managed Linked Accounts link I get presented the same "Connect to Github" page like my accounts have never been linked before. I'm baffled at this point.

[2016-11-27 21:48] goetzk commented on #219
On 28/11/16 05:10, Chris Houseknecht wrote:

Interestingly, /Users wasn't shared on mine.

Version 1.12.3 (13776)
Channel: Stable
583d1b8ffe

I'm unsure if its prior configuration on my part (I'm not a big user of
docker) or if it was added at some point.

I'll try again with /Users in the list and see if that succeeds.

thanks,

[2016-11-28 11:04] goetzk commented on #219
Thinking about it further, there isn't anything else to do here. /Users wasn't shared, so I was seeing a message about paths that were needed under /Users.
I raised issues with getting the build to work separately so will follow them up there.

Thanks for your help @chouseknecht !

[2016-11-28 11:06] goetzk commented on #220
My ansible-container debug output:
[code]

then immediately after ran make clean && make build.

[code]

Immediately rerunning gives the following:
[code]

thanks,

[2016-11-28 14:00] #219 closed, assigned to nobody

[2016-11-28 14:21] chouseknecht commented on #220
OK. So the question is, what's causing **ansible-container_1  | Host django failed** to happen right off the bat, before playbook execution begins. If the django container does not maintain a running state, then the playbook will never run.

Can you run the build with the `--debug` option, and see if there are any errors happening before playbook execution begins that cause the django container to

[2016-11-28 15:54] chris-short commented on #217
At this point can my account be blown away completely and then I can start over?

[2016-11-28 21:12] goetzk commented on #220
The full build is below, please also note the changes from the git diff - clean deletes all images and build runs ansible-container with --debug.

[code]

[2016-12-01 22:50] srizzling opened #222 "Ignore files from role"
Is there a way I can ignore files being downloaded by the ansible-galaxy client when installing my role.

I place a vault file in my role, to make the tests run and pass, and I do not want people to download the vault file included to make the tests pass.

If this isn't part of ansible galaxy, I think it might be useful, maybe via a `.galaxyignore` file maybe?

Thanks,
Sriram

[2016-12-02 08:36] anthcourtney opened #223 "Add support for Amazon Linux 2016.09"
Hello,

At present, galaxy only lists the following versions for Amazon Linux:

2013.03
2013.09
2016.03

Can you please add:

2016.09

[2016-12-05 16:29] gregdek commented on #217
@chouseknecht can we just blow away @chris-short's account per his request?

[2016-12-08 04:07] timb07 opened #224 "Standardize on ISO 8601 date format"
At /list#/roles, the Last Commit and Last Import dates are in MM-DD-YYYY format, while on individual role pages, the format is MM/DD/YYYY. I find both of those confusing, the latter because (as an Australian) I'm used to seeing DD/MM/YYYY, and the former because when I see dates with hyphens I automatically think ISO 8601.

May I suggest the use of ISO 8601 date format (YYYY-MM-DD) throughout? [xk

[2016-12-15 11:39] joshmoore opened #225 "New role on github (org) not appearing"
I just added github.com/openmicroscopy/ansible-role-basedeps which appeared on galaxy as https://galaxy.ansible.com/openmicroscopy/ansible-role-basedeps/

I would like to update the name of the role, but it is not appearing under "My Roles". What would be the correct sequence to make sure roles are linked to a user's accounts as well? Can they be linked to multiple users' accounts?

_Many thanks_

[2016-12-15 17:24] chouseknecht commented on #225
Roles are not actually linked to accounts. To operate on a role in Galaxy, you have to have access to the repo in GitHub, and the repo has to contain a meta/main.yml file.

It looks as thought the role was sort of added via TravisCI notification. Here's a link to the most recent import: https://galaxy.ansible.com/api/v1/imports/41668/. Based on the error messages, looks like it's missing ``platfor

[2016-12-15 17:27] chouseknecht commented on #223
Done

[2016-12-15 17:27] #223 closed, assigned to nobody

[2016-12-15 18:10] joshmoore commented on #225
@chouseknecht : Thanks. I didn't see any connection between my list of failed builds and 41668; sorry for the newbie failure. Having corrected the platforms issue & clicked on "Refresh Your Repositories" I now have a `joshmoore/ansible-role-basedeps` listed in "My Roles", but none for the org.

[2016-12-15 20:58] joshmoore commented on #225
Roles are now present. Whether for a direct intervention or passive hand-holding, thanks for the help!

[2016-12-15 20:58] #225 closed, assigned to nobody

[2016-12-16 17:24] thorstenhuhn commented on #70
I would also vote for this feature. [https://pypi.python.org/pypi/semantic_version/](https://pypi.python.org/pypi/semantic_version/) might help implementing this (it's not said in the documentation but it also supports caret ^ and tilde ~ notation for pessimistic comparison). Using git as scm and having the repository url, existing tags could be retrieved using "git ls-remote --tags <url>" and be

[2016-12-22 14:02] S1y commented on #96
what status ?

[2016-12-22 14:38] S1y opened #226 "ansible-galaxy use wrong path when role name contains slashes RoleLib/Role1"
# Ansible-Galaxy use wrong path when role name contains slashes `/`

Ansible 2.2.0.0
When importing role from `requirements.yml` with single word role naming,
a folder named as the role name is created ...
but when the name contains slashes `/` then all after the first slash is duplicated in the tree !!!.

Examples:
[code]

I try to google this but found nothing related to this behaviour.
If this

[2016-12-26 10:48] trombik opened #227 "galaxy does not remove `ansible-role-` from repository name"
I have just uploaded a role to galaxy but the import log says its name is [`reallyenglish.ansible-role-java`](https://galaxy.ansible.com/reallyenglish/ansible-role-java/), instead of `reallyenglish.java`.

[code]

The role was imported at 12/26/2016 10:38:10 AM UTC.

Interestingly, [reallyenglish.apt-repo](https://galaxy.ansible.com/reallyenglish/apt-repo/), which was imported to galaxy at 12/25/2

[2016-12-26 11:38] trombik commented on #227
for now, renamed `ansible-role-java` to `java` by using Web UI. still wondering how role name is determined and why some roles are given `ansible-role-` prefixed name, but not others.

[2017-01-01 21:42] cjw296 commented on #49
@chouseknecht - since @willthames said the proposal you referred to is completed unrelated, please can you re-open this issue?

[2017-01-08 06:30] naftulikay opened #228 "Init Fails with "the JSON object must be str, not bytes" (Python 3)"
I am running the following command on Ubuntu 16.04:

[code]

This is a pretty typical Python 2 to 3 problem. I installed `python-pip` and then ran `pip install ansible`, and here's my Ansible and Ansible Galaxy versions:

[code]

If I look at the file header for the `ansible-galaxy` command, I see the following:

[code]

Ansible Galaxy is requesting to run in Python 3 and is somehow failing to be

[2017-01-09 18:49] bcoca commented on #228
All ansible scripts are actually a symlink to the base ansible, this is an issue with the installation of Ansible itself, it was pointed at python3 (not just galaxy).

That said, this is still a bug as we strive to be py3.5+ compatible.

[2017-01-09 18:58] bcoca commented on #228
closing as this is both in wrong repo and also a dupe https://github.com/ansible/ansible/issues/20012

[2017-01-09 18:58] #228 closed, assigned to nobody

[2017-01-10 09:26] marcowork commented on #96
+1

[2017-01-10 11:36] miquelMariano opened #229 "How I can cancel import task?"
This import task take a long time and not cancel and can not reuse the role name

How I can force import task stop?

![image](https://cloud.githubusercontent.com/assets/12425938/21804752/e0f2a488-d730-11e6-84f4-fb5fa26ac442.png)

Thank's all

[2017-01-10 16:14] jbarascut commented on #96
How long will it take to get this feature fixed?
I'm trying to use a private ansible-galaxy and I would like to help you.

My principal problem is that my network have no connection to internet (local bitbucket only).

[2017-01-10 21:00] daniel-schier commented on #229
Same issue here.

[2017-01-11 17:50] c-mart opened #230 "Travis CI settings missing from "My Roles" page?"
I think the Travis CI settings are missing from https://galaxy.ansible.com/roleadd. Previously you could click the gear icon next to a role, and enter your Travis CI token to configure auto-import on completed builds. but now I don't see that setting anymore, only a text field to edit the role name. Same results in Firefox and Chromium. Was this setting removed or just moved?

![image](https://clo

[2017-01-12 15:32] inviqa-session opened #231 "No roles found in your public GitHub repositories"
I am trying to publish on Galaxy a few roles that we have developed as a company. the organisation name is 'Inviqa'
I'm trying to use a company shared account for both GitHub and Galaxy Authentication via Google.
Google account: apps@inviqa.com
GH account: inviqa-session

the roles I want to publish are
https://github.com/inviqa/ansible-digitalocean-floating-ip
https://github.com/inviqa/ansible-ju

[2017-01-13 13:40] chouseknecht commented on #231
@inviqa-session, authenticating to Galaxy via Google won't get it done. You need to authenticate with Galaxy using the GitHub account `inviqa-session`, and that should work. The *right* way to authenticate with Galaxy is always GitHub. The other methods of authentication are there just to help folks that created accounts long ago, prior to the 2016 switch to GitHub.

[2017-01-13 13:45] chouseknecht commented on #230
There is no more need for Galaxy to know your Travis token. I might need to update the docs on the About page.

It used to be, up until about 3 months ago, that Travis would send a hash that included your Travis token in the header of a notification request, and Galaxy would use the your token to verify the request. Travis no longer sends the header, and so there is nothing to verify. Galaxy now t

[2017-01-13 13:56] chouseknecht commented on #229
These imports should get killed automatically, but clearly they are not. The issue is [here]( https://github.com/ansible/galaxy/blob/develop/galaxy/main/celerytasks/tasks.py#L856). The code only kills things that have been stuck in a state of 'PENDING'. You job, however, is in a state of 'RUNNING'.

I'll fix this today. I also think we should shrink the window from 2 hours to 1 hour. In other word

[2017-01-13 14:01] chouseknecht commented on #226
Ick. Why ever would you put `/` in your role name.

I think originally, back when we started, you could not put a `/` in the repo name. At least not on the GitHub site. I could be wrong, but I feel like I tested that at one point.

My personal opinion aside, it does appear that this needs to be addressed. I'll take a look.

[2017-01-13 14:03] chouseknecht commented on #224
Agreed, we should standardized the date format. Not sure how I feel about using the ISO 8601, but you might be right. It feels a little nerdy, but it does make sorting things easy.

[2017-01-16 14:41] chouseknecht commented on #230
The About page is up to date. There's no mention of having to use a Travis token in order to configure automatic imports. All that's required is 1.travis.yml1 file with a *notifications* section that includes the following:

[code]

[2017-01-16 14:41] #230 closed, assigned to chouseknecht

[2017-01-16 15:39] chouseknecht commented on #227
There's an inconsistency between importing the role via the web interface and importing a role via Travis. If you import via web interface, [this code](https://github.com/ansible/galaxy/blob/develop/galaxy/static/js/roleAddApp/roleAddController.js#L147) alters the repo name. However, importing from Travis does not alter the repo name.

[3751b120ccd41b408dc88d4ac0dcc165b3df89d7](https://github.com/

[2017-01-16 16:52] chouseknecht commented on #226
OK. I see now that this issue is really about the `name` parameter provided in a role dependency.

I suspect the limitation happens in [this code](https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/role.py#L69) within the Galaxy client. The assumption is that `name` will be a directory appended to the local `roles_path`.

I could be wrong, but I don't think that we want to change thi

[2017-01-16 16:52] #226 closed, assigned to chouseknecht

[2017-01-16 21:40] chouseknecht commented on #224
Fixed with this [commit](https://github.com/ansible/galaxy/commit/89a7db1f2a4f5a6c48a3751ee077eadf57a7533a)

[2017-01-16 21:59] chouseknecht commented on #229
Fixed with this [commit](https://github.com/ansible/galaxy/commit/0973001c705d2a1eb5e8a241139ae60436863c1d)

[2017-01-19 03:16] chouseknecht commented on #220
I made significant changes to the build process that simplify it, and speed it up. It no longer includes the following: migrations, superuser creation, loading of test data, and Elasticsearch index build, and the django service now uses virtualenv.

Also, and maybe more importantly, the build executes on Travis. You can see the latest build [here](https://travis-ci.org/ansible/galaxy).

[2017-01-19 03:16] #220 closed, assigned to nobody

[2017-01-19 06:08] goetzk commented on #220
Thanks for your efforts, I will try and find time to play again later in the month.

[2017-01-19 07:51] chouseknecht commented on #177
@Ilyes512

Apologies for not getting back to this in awhile. I've been busy working on other things.

I added error handling that should catch the error when import task creation fails. The new code is available for testing on our QA site https://galaxy-qa.ansible.com.

This does not solve the problem, but it at least presents an error message, and puts the UI back to a usable state. To see what t

[2017-01-19 08:06] chouseknecht commented on #170
@felnne, closing this for now. I am able to import a fork of you php role in the [QA site](https://galaxy-qa.ansible.com), and at the [main site](https://galaxy.ansible.com).

[2017-01-19 08:06] #170 closed, assigned to nobody

[2017-01-19 11:04] felnne commented on #170
@chouseknecht - i'd forgotten about this issue to be honest, but trying to reimport my role worked so happy to close this.

Thanks.

[2017-01-19 15:54] metakermit commented on #209
Experiencing this issue as well. It is stated in the [official Ansible docs](http://docs.ansible.com/ansible/python_3_support.html) that:

I would assume from this documentation that reporting issues in Python 3 is desired. If not and Python 3 is not supported at all, it would be good to update the docs to not mislead users.

The problem I am hitting:

[code]

[2017-01-23 07:08] jackbentley commented on #165
~~~Looks like `ansible-galaxy` already adds meta data to a galaxy download in `%role%/meta/.galaxy_install_info`. The file contains the current version number of the role. It's used in the info command but no-where else.~~~

~~~Shouldn't some simple matching to check that the specified version in the `requirements.yml` is met, else download a version which does meet it, be a sufficient stop-gap fo

[2017-01-23 09:29] 030 opened #232 "A repo was renamed and now there is a collision everytime it is imported"
030.rabbitmq was renamed to 030.ansible-sensu-client

[code]

[2017-01-23 13:17] geerlingguy commented on #165
Yarn (Node.js) also has a lock file system similar to PHP's Composer: https://yarnpkg.com/en/docs/yarn-lock

[2017-01-23 16:51] geerlingguy commented on #165
See also: https://www.kennethreitz.org/essays/announcing-pipenv

[2017-01-25 15:44] tknerr commented on #165
Similar in Ruby, where bundler is the dependency manager of choice:

 * the `Gemfile` lists the dependencies w/ version constraints (equivalent to `requirements.yml`)
 * upon resolving the dependencies a `Gemfile.lock` is being created, which tracks the exact versions which have been resolved (e.g. the SHA for git based dependencies)
 * not only for the explicitly specified dependencies, but also

[2017-01-25 15:54] tknerr commented on #165
but I think fuzzy matching and lockfile support are two different issues.

the last comments were only concerned about lockfile support

@geerlingguy is fuzzy matching still a concern for you? should we split it up in two different issues?

Probably also somthing for https://github.com/ansible/proposals

[2017-01-25 16:57] geerlingguy commented on #165
Yeah, let's drop fuzzy matching from this issue—that will require a bit more work and is probably _much_ lower priority (I know it is for me... a lock file would be AWESOME and help me immediately in so many ways, and is not blocked on versioning discussions, semver etc.).

[2017-01-30 09:51] ferrarimarco commented on #29
Hi. For this purpose maybe Test-Kitchen is worth checking out.

I am using it with Docker and InSpec. Here is an example: https://github.com/ferrarimarco/ansible-role-vagrant/tree/master

[2017-01-30 12:28] miquelMariano commented on #229
Hi chouseknecht

this problem persist on my profile.

![image](https://cloud.githubusercontent.com/assets/12425938/22422984/c573aec2-e6ef-11e6-8ef2-eb1b02fe9b3a.png)

The import tasks with status "Started" not killed automatically

Thanks!

[2017-02-02 07:12] ReSearchITEng commented on #96
Is there a document to try configuring it in intranet?
Can anyone share the issues faced while trying to point it to gitlab?

[2017-02-03 09:40] markgraf commented on #50
Seconded.

[2017-02-07 21:40] grossws opened #233 "Inconsistent licensing info in ansible/galaxy repo"
https://github.com/ansible/galaxy repo contains `LICENSE` file with Apache License v2 and `license='Proprietary'` + `'License :: Other/Proprietary License',` in `classifiers` in `setup.py`.

[2017-02-10 14:21] leoarnold commented on #159
@chouseknecht I understand that this was the only way for you to implement GitHub starring in the Galaxy. I'd just like to emphasize that this clearly keeps me from publishing roles in Galaxy, because it is a major security hazard to give Ansible the ability to impersonate me on GitHub and possibly ruin all my reputation publicly and globally. Not that I suspect Ansible of intending this, but what

[2017-02-10 22:49] mmckinst commented on #159
@leoarnold they've updated the scope to below which seems acceptable to me:

![screenshot from 2017-02-10 14-46-04](https://cloud.githubusercontent.com/assets/1631365/22847116/ed84aed0-ef9f-11e6-8011-41e5e9bc6881.png)

[2017-02-10 23:18] leoarnold commented on #159
@mmckinst This is what I get when I try to sign in to the Galaxy at time of this writing and I'm really reluctant to grant "**read and write all public repository data**".
![screenshot_20170211_001454](https://cloud.githubusercontent.com/assets/4201235/22847772/9c7da000-efef-11e6-93d5-3851d2d704c7.png)

[2017-02-11 00:11] mmckinst commented on #159
Weird. I just took a screenshot from https://github.com/settings/applications on my account but I gave galaxy permission for that stuff a long time ago. Back in August 2016 it was requesting more access when I tried to log in which is I how found this bug but at some point between then and now it stopped asking for all the extras perms when I logged in. Maybe there's a difference between new and o

[2017-02-15 10:28] smapjb opened #234 "So close: The 'galaxy' distribution was not found"
I have managed to get this up and running behind the firewall following the CONTRIBUTOR instructions.

I noticed the following fly by the logs on 'make run'

[code]

I similarly get the same when I 'make createsuperuser'
[code]
I have tried putting / /galaxy and even /galaxy/galaxy on the python path from 'make shell' but I can't get the galaxy-manage command work.

Too many new concepts in my bra

[2017-02-15 18:15] smapjb commented on #234
To get this working I had to
[code]
And because the ansible_gulp_1 container had failed I also had to
[code]
And then from inside the container

[code]

So clearly those tasks are failing in the ansible-container build

[2017-02-15 21:04] LudwigHoff commented on #70
+1

Server and lock file would be wonderful, please.

[2017-02-21 13:23] chouseknecht commented on #233
Fixed.

[2017-02-22 12:22] joshmoore opened #235 "Remove openmicroscopy.haproxy 1.1.1 version"
See:

 * https://galaxy.ansible.com/openmicroscopy/haproxy/
 * https://github.com/openmicroscopy/ansible-role-haproxy/releases

The 1.1.1 tag has been removed from the openmicroscopy.haproxy repository. Could the build on galaxy be removed as well?

[2017-02-22 18:17] sadsfae opened #236 "Too many files open in system issues during ansible-galaxy import"
Hi Folks,

I'm trying to add a few of my ansible playbooks via github to galaxy and I keep hitting this error:

[code]
System: Fedora 24
Ansible version: ansible-2.2.1.0-1.fc24.noarch

I have even upped the open file limits on my system to 65535 and I still get the error and lsof states that I only have about 16k files open for my user.
[code]

Here's the command I am using:

[code]

This runs for

[2017-02-22 23:29] sadsfae commented on #236
I've kicked up my system-wide file limits to 818354 and the galaxy import process just seems to run forever (hours and hours) and my open file count slowly ticks upwards.

For what it's worth I'm using a Github access token.

This just repeats over and over in verbose mode:

[code]

e.g.

[code]

Any idea what I might be doing wrong?

[2017-02-23 00:08] sadsfae commented on #236
Hi Folks, I was using an out-of-date main.yml format.  Using the updated one worked, curious why this wouldn't have given me an error instead?  Either way this issue is fixed so closing this.  Thanks.

[2017-02-23 00:08] #236 closed, assigned to nobody

[2017-02-23 20:29] jeremyn commented on #58
It's unfortunate that we still can't delete accounts. I've submitted https://galaxy.ansible.com to Account Killer at https://www.accountkiller.com/en/Submit and referenced this issue. Account Killer is a site where you can look up how to delete your account at various places or find out ahead of time that accounts can't be deleted. I encourage anyone else interested in this issue to submit Ansible

[2017-02-24 17:19] jeremyn opened #237 "Can't reset Ansible Galaxy password through website while logged in"
I don't see an option to change my password through https://galaxy.ansible.com while I'm logged in. The only account-related options I seem to have are "My Imports", "Manage E-mail", and "Manage Linked Accounts", and none of them let me change my password.

I figured out that I could change my password through the "Forgot password" reset process, but there should be a way to change the password wh

[2017-02-27 21:08] aoyawale commented on #38
any updates?

[2017-02-27 21:10] aoyawale opened #238 "unstar fails if github repo has been deleted"
Hello,

I deleted some repos that had been imported into galaxy but, when I browse the role and click unstar. It stays in a loop and does not finish. Is there a way that the repo can be auto removed if it can't find the github project?

[2017-03-03 10:25] Ekouyoja opened #239 "Remove roles but still existing"
Hi,

Yesterday i have create a role to test how ansible galaxy work, and when i have understand, i have remove the role from ansible Galxaxy and the Github repo but the role still exist.
How can i remove definetly it ?
Best regards.

[2017-03-03 13:07] mattwillsher opened #240 "Duplicate roles on two accounts"
Hi,

I have a role which exists on two accounts, one of which I can see it under, one I can't.

The roles are

https://galaxy.ansible.com/mattwillsher/sshd/

and

https://galaxy.ansible.com/willshersystems/sshd/

I can see the roles via galaxy on the mattwillsher account but not willshersystems. I've tried variously to disable github access on the mattwillsher account, but the roles still show, an

[2017-03-05 16:05] austincloudguru opened #241 "Username change"
Is there any way to get a username changed or deleted?

[2017-03-06 21:45] AsavarTzeth commented on #217
Same issue, but in my case I also have two accounts (not on purpose). Whenever I try to link my account and refresh it just asks me again.

I wonder if it may be related to using multiple email addresses on GitHub. In my case I have two and I may have changed the primary at some point. Currently if I login using GitHub email verification tries to use my previous primary.

EDIT: It solved itself a

[2017-03-15 18:24] Eviradnus commented on #48
Using local git repositories is a real pain when dealing with dependencies.

A proper mirror would enable direct, stable, transparent (and off-line) use of dependencies, whereas local git repositories need heavy maintenance managing detailed, explicit `requirements.yml` configs (with overridden git URL + tags, pointing to these local repositories).

I reckon using a local git repository for any gi

[2017-03-16 20:56] kulinacs opened #242 "Travis badge reports failures on non-master branch"
Currently, a failed build on Travis marks the TravisCI badge as failing, whether it is on master or not.

It seems the bug may lie in:
https://github.com/ansible/galaxy/blob/master/galaxy/api/views.py#L873

TravisCI does not currently allow reporting on specific branches, but includes the built branch in the notification. Instead of setting the branch solely based on the notification received, the

[2017-03-19 15:53] joshuamkite opened #243 "No roles found in your public GitHub repositories."
I am trying to publish my first Ansible role. I have signed in to ansible galaxy site using my github account but no matter what I do I get 'No roles found in your public GitHub repositories.' I have been following the documentation at https://galaxy.ansible.com/intro At first I thought the issue might be because I did not have my role as a top-level repository or have 'ansible'  in the repo name

[2017-03-27 20:21] cwarner-mdsol opened #244 "extra-vars cli option similar to ansible-playbook"
We need to access a role via a private github repo using a personal token. Using ansible tower this means we configure requirements.yml as required but there is no way to pass this token via ansible-galaxy without adding it to requirements.yml bare.

I'd like to propose we introduce --extra-vars to ansible-galaxy. The syntax should be readily familiar so something like `ansible-galaxy --extra-vars

[2017-04-03 19:16] hectcastro opened #245 "Role missing from My Roles page on Ansible Galaxy"
We have the following Ansible role within our GitHub account, but it does not appear on the *My Roles* page of the Ansible Galaxy website:

https://github.com/azavea/ansible-aws-ena

It does exist in isolating at the following URL, but ideally it would be renamed so that it not longer container the `ansible-` prefix:

https://galaxy.ansible.com/azavea/ansible-aws-ena/

[2017-04-04 06:32] Miyurz commented on #167
@s-hertel Thank you. As @kuza55 mentioned, it wasn't documented well and the error was misleading.

[2017-04-05 17:17] natefoo opened #246 "Roles import with GitHub owner name rather than Galaxy owner name"
We have a project account for our roles at https://galaxy.ansible.com/galaxyprojectdotorg/ which is linked to the @galaxybot GitHub account. As I'm a member of the [galaxyproject GitHub org](https://github.com/galaxyproject/) and have granted access to that org for my [individual Galaxy account](https://galaxy.ansible.com/natefoo/), I can also see and trigger imports for galaxyprojectdotorg roles

[2017-04-06 18:45] natefoo commented on #246
The roles appear now, it was a permissions problem with @galaxybot's teams. However, the role still imports as [galaxyproject.proftpd](https://galaxy.ansible.com/galaxyproject/proftpd/). It looks like Galaxy is importing roles using the GitHub repo owner name rather than the Galaxy owner name.

[2017-04-06 18:49] natefoo commented on #246
FWIW I am perfectly happy renaming our roles to `galaxyproject`, but (back when he was still at Ansible) Michael DeHaan had asked us to change from `galaxy` to `galaxyprojectdotorg` due to the unfortunate project name collision.

[2017-04-10 15:48] ghost opened #247 "Issues after changing owners in github."
I am having a number of issues after changing owners on the [singleplatform-eng/ansible-users](https://github.com/singleplatform-eng/ansible-users) role. This was previously https://github.com/mivok0/ansible-users (no longer exists).

1. I get `An error occurred while importing repo tags: get() returned more than one RoleVersion -- it returned 2!` when importing new versions of the role. As you ca

[2017-04-12 12:49] nusenu opened #248 "add OpenBSD 6.1 to platform list"
If you import a role you get these messages:

Invalid platform: OpenBSD-6.1 (skipping)

[2017-04-13 13:49] chouseknecht commented on #246
That's the expected behavior. We changed it, maybe 2 years ago now to import under the GitHub namespace.

[2017-04-13 13:54] natefoo commented on #246
Ok, thanks. I guess I'll reimport our old roles, then? Or can their names be fixed somehow?

[2017-04-13 18:10] jxn opened #249 "ansible-galaxy install --force no longer replaces roles"
After the version bump to 2.3.0, it seems install --force no longer forces an overwrite.  We have been using this to "upgrade" roles stored in git, but they are no longer pulled in.

Here's the command used:
`ansible-galaxy install --force -r ansible/requirements.yml -p ansible/roles/`

Here's an example requirements.yml
[code]

Previously, when we pushed new role updates to master, these would be

[2017-04-13 19:51] mpetruzelli opened #250 "Playbook name blank for identical role name and playbook name"
Galaxy role structured as:

[code]

Requirements.yml
[code]

Run:
`ansible-galaxy install -r requirements.yml --ignore-errors --roles-path roles --force`

Expected output:
[code]

Actual Output:
[code]

The provision instance playbook file (`provision_instance.yml`) has been renamed (`.yml`).

If I check in a file `instance.yml`
 Output
[code]

[2017-04-14 14:42] mpetruzelli commented on #250
Additional info:

It seems if the name of the repo and the name of the playbook match at all, the playbook name is blanked.

Example:

Repo Name: `consul`
Playbook Name: `deploy_consul.yml`

requirements.yml:
[code]

Repo Structure:
[code]

Expected behavior of `ansible-galaxy install -r requirements.yml --ignore-errors --roles-path roles --force`:
[code]

ACTUAL behavior of `ansible-galaxy instal

[2017-04-14 15:32] steenzout opened #251 "tag not being deleted"
I import the role again and again and it doesn't change anything.

e.g. https://galaxy.ansible.com/ansiblebit/oracle-java/ vs https://github.com/ansiblebit/oracle-java/releases

Let me know if there is an option for me to clear the `v` versions out.

thank you!

[2017-04-14 21:45] roumano commented on #251
It's a important issue as user are always installing old version of roles...

[2017-04-17 19:16] MarcusTomlinson commented on #234
So the issue with gulp was that the package.json file from galaxy/ was not being copied over to the container for the "Install node packages" task to do anything useful. Unfortunately you get a 0 return from "npm install" even when a package.json file is not present, so all looks to have executed correctly during the build, when it really didn’t.

The issue with the django container was that by in

[2017-04-18 11:43] joshmoore opened #252 "Roles not appearing from organization"
Similar to https://github.com/ansible/galaxy-issues/issues/245, I'm having issues getting more recent repositories to appear under "My Roles". For example:

 * https://github.com/openmicroscopy/ansible-role-omero-common/

Our workflow has been to wait until a role appears, check the import, and then to tag. Since the roles haven't appeared, I went ahead and pushed tags (trigger travis builds) whic

[2017-04-20 17:00] chouseknecht commented on #252
@joshmoore

I think the issue is that for Galaxy to determine the repos to display on My Roles, it has to look through all the repos you have access to and decide which are 'ansible roles'.

Because you're part of 14 organizations (I think that's what I counted on GitHub), you likely have access to hundreds repos, and Galaxy probably times out or exceeds the number of requests it can make to the G

[2017-04-20 17:03] chouseknecht commented on #252
@joshmoore

FWIW you can also use the `ansible-galaxy` command line tool to delete roles and trigger imports. I think that will work, because it sort of flips things around. It knows the name of the repo you want to work with, so it doesn't need to build a list of repos. It can query the GitHub API for the exact repo, check your access rights, and make the change.

[2017-04-20 18:27] mozart27 opened #253 "Trying to register github account - but no verification email"
Howdy,

I'm trying to register in Ansible Galaxy using my github account (mozart27).  I have not received the verification email and it has been over 30 minutes.  I have attempted to re-request the verification email but still have not received it.  Would you be able to help?  The email associated with this github account is jb@bordn.com.

Thanks!
- jb
=====================
jonathan borden
jb@bord

[2017-04-20 18:58] chouseknecht commented on #251
Fixed with this commit. https://github.com/ansible/galaxy/commit/b4d1ca1029bc3b1ab0e4c1c74e74577e3cca42f9

Will push this into production either tonight or tomorrow evening.

[2017-04-20 18:59] chouseknecht commented on #251
@steenzout

You can view the updated role at our QA site: https://galaxy-qa.ansible.com/ansiblebit/oracle-java/

[2017-04-20 19:01] chouseknecht commented on #253
@mozart27

checking...

[2017-04-20 20:08] chouseknecht commented on #253
I can confirm that emails do work. I registered a new account, and received the email at a yahoo.com address.

FWIW, the email sent from Galaxy has a sent-from address of `noreply@ansible.com`.

[2017-04-20 20:16] chouseknecht commented on #250
@mpetruzelli

Can you share an actual `requirements.yml` file, please. Neither example contains a URL pointing to a real GitHub repo. Having an example to use for testing would be helpful.

Is the issue that you're attempting to place a playbook in the top level directory of the repo, and it's not being installed correctly?

[2017-04-20 20:30] chouseknecht commented on #248
Done

[2017-04-20 20:30] #248 closed, assigned to nobody

[2017-04-20 20:33] chouseknecht commented on #246
I think the right thing to do is to move them to the GitHub namespace. Otherwise, each time your team creates a role, it will be an issue.

[2017-04-20 20:33] chouseknecht commented on #246
Closing.

[2017-04-20 20:33] #246 closed, assigned to nobody

[2017-04-20 20:56] chouseknecht commented on #245
@hectcastro fixed the name on the `aws-ena` role. The `ansible` bit is gone.

As for why roles are not appearing on your My Roles page, it may be that on the GitHub side you are not a collaborator or admin of the repo. The repo has to be returned by the `/user/repos` endpoint of the GitHub API in order for Galaxy to list it on My Roles.

[2017-04-20 20:56] chouseknecht commented on #245
Closing. Feel free to re-open, if you have additional questions.

[2017-04-20 20:56] #245 closed, assigned to nobody

[2017-04-20 23:53] mpetruzelli commented on #250
Note: This is only affected in Ansible 2.3.0

Take a look here:

https://github.com/mpetruzelli/galaxy_test

requirements.yml file provided, and install command as well.

[2017-04-21 02:12] hectcastro commented on #245
Thanks, @chouseknecht.

[2017-04-21 11:33] chouseknecht commented on #251
This is now in production, and the oracle-java role is up to date, with the correct tags.

[2017-04-21 11:33] #251 closed, assigned to chouseknecht

[2017-04-21 11:41] chouseknecht commented on #249
Fixed in by [Ansible PR #23391](https://github.com/ansible/ansible/pull/23391)

[2017-04-21 11:41] #249 closed, assigned to nobody

[2017-04-21 16:04] steenzout commented on #251
@chouseknecht thank you!

[2017-04-22 09:17] joshmoore commented on #252
Ah, understood.

I'll probably try the latter and if that fails the former, and post my results, closing this issue (I assume you have others to track the timeout).

Thanks for the info!

[2017-04-22 09:57] fabiohbarbosa opened #254 "I can not remove a old role"
The role **java-jdk** does not exist in my roles, but if you click on my profile you can see this old role.
Please remove this role.

[2017-04-22 09:59] fabiohbarbosa commented on #239
I have same problem.

[2017-04-22 23:40] fabiohbarbosa opened #255 "Accept platform Ubuntu zesty"
Accept platform Ubuntu zesty in meta/main.yml

[2017-04-23 14:20] opichon opened #256 "supported platforms in metadata"
Where can I find the list of supported platforms for a role metadata?

Or more generally a complete description of the metadata syntax.

[2017-04-24 10:56] joshmoore commented on #252
All my attempts to use `ansible-galaxy import` timed out. A colleague used his credentials to perform the renamings.

[2017-04-24 10:56] #252 closed, assigned to nobody

[2017-04-24 11:04] thedumbtechguy commented on #241
I had to change my actual github username just to get the name I want.

+1

[2017-04-24 11:07] thedumbtechguy opened #257 "Import removes all instances of ansible in the role name"
I created a role `ansible-role-ansible-semaphore` hoping to get the name `ansible-semaphore`.
However, galaxy stripped `ansible-role-ansible-` from the name.

I am sure I can change the role name to be what I want, but I don't know if this is a bug or expected behavior.

[2017-04-24 11:09] thedumbtechguy opened #258 "Import does not work with submodules"
I have a role which uses a custom module which has its own repository.
I therefore decided to use a git submodule to add it under library so maintenance will be easier to manage.

However, when I installed the role, it didn't have the library folder.

[2017-04-24 11:36] sbesson opened #259 "Import failures: cannot remove duplicate role"
Partly related the issues reported https://github.com/ansible/galaxy-issues/issues/252

I tried to delete, create and rename the `openmicroscopy.omero-common` role from the base https://github.com/openmicroscopy/ansible-role-omero-common repository. While the role deletion and the creation worked without problem using either `ansible-galaxy` or the Web UI , renaming `openmicroscopy.ansible-role-om

[2017-04-25 17:25] danlamanna commented on #256
This would be a great topic to have documented. Current practice for me is googling and discovering how other roles have things set up.

[2017-04-25 17:27] danlamanna commented on #222
Agreed, for certain roles I don't want to distribute an exhaustive test suite through Galaxy.

[2017-04-25 21:46] srizzling commented on #222
There is a way, which is kind of cheating, but you can add the files you want to ignore to a .gitattributes file in repo and add the flag "export-ignore", an example is here: https://github.com/srizzling/rkt-role/blob/master/.gitattributes.

[2017-04-26 10:09] wawrzek opened #260 "Ansible Galaxy doesn't see a role from my organization"
I linked galaxy with my github account and I can see 3 Ansible roles I have once created. Yesterday, Corda organization granted Ansible Galaxy access to it's data:

but I don't see https://github.com/corda/corda-ansible in my roles.  Why?

[2017-04-26 11:08] joshmoore commented on #259
@chouseknecht : is there any hope of this last one being renamed or shall we come up with a new name?

[2017-04-26 14:42] neliseev commented on #250
+1 ansible 2.3.0.0

if any file inside role contain role name, ansible remove it.
In 2.2 all works well...

[2017-04-28 12:25] rsperl commented on #250
I opened a ticket with rhel thinking this was a tower issue before realizing it was just ansible-galaxy. Repos to duplicate the error: https://github.com/rsperl/RHEL-01839740-playbook

[2017-04-28 14:39] larskarlitski opened #261 "Import fails when the file type of `README` is unknown"
Importing a role with a `README` that isn't plain text, markdown, or restructured text fails with

    Unable to determine README file type. Expecting file extension to be one of: .md, .rst

The whole point of these formats is that they're readable as plain text as well. Failing the import because of this seems disproportionate.

Possible solution: treat `README` files with unknown extensions as p

[2017-05-02 21:02] roumano commented on #256
👍
Can't find from google but this links list of supported platforms for a role metadata 👍
https://galaxy.ansible.com/api/v1/platforms/
you can adapt the query like this : https://galaxy.ansible.com/api/v1/platforms/?name=EL and the result is a json, so managable by ansible too ...

[2017-05-03 00:03] roumano opened #262 "Duplicate tags in ansible galaxy"
We have lot of duplicate tags in ansible galaxy :

fixing this issue will permit a better visibility of roles, less pages, easier to find a role.

HowTo Download all existing tags :
[code]
See few duplicates :

cat /tmp/1.json | jq -r '.results[].name' | grep -i raspberry
raspberry
raspberrypi
RaspberryPi
RaspberryPI

cat /tmp/1.son | jq -r '.results[].name' | grep -i ec2
ec2
EC2

cat /tmp/1 | jq

[2017-05-05 11:37] kblcuk commented on #250
FYI at least in my case this manifests only if I use github repo as `src`:

[code]
[code]
However, pointing to tar archive directly seems to correctly:

[code]
[code]

[2017-05-10 03:01] supercoffee commented on #250
I'm also seeing this.  In my case, templates are being renamed in roles that are pulled in by ansible galaxy. Version 2.2.1.0 works fine, 2.3.0.0 completely breaks playbooks.

[2017-05-10 03:19] supercoffee commented on #250
Okay, there's already been a PR for this [here](https://github.com/ansible/ansible/pull/23703).  It's in devel already.

[2017-05-11 18:48] chouseknecht commented on #262
That's kind of the nature of tags. They're free-form. I suppose we could convert all tags to lowercase, and that would clean up some of it.

[2017-05-15 17:29] chouseknecht commented on #254
java-jdk has been removed.

[2017-05-15 17:29] #254 closed, assigned to nobody

[2017-05-15 17:32] chouseknecht commented on #255
Added

[2017-05-15 17:32] #255 closed, assigned to nobody

[2017-05-15 17:41] chouseknecht commented on #257
We purposefully strip `ansible` and `role` from the name. Maybe the replace is too greedy, but that's why you have the ability to edit the role name. You can edit, and set it to whatever you like.

Sounds like editing the role name is working as expected. Closing for now.

[2017-05-15 17:41] #257 closed, assigned to nobody

[2017-05-15 18:18] chouseknecht commented on #259
I think this is now the way you want it: https://galaxy.ansible.com/openmicroscopy/omero-common/

Ping me, if it's not. Apologies for not being able to get to this sooner.

[2017-05-15 18:18] #259 closed, assigned to nobody

[2017-05-15 18:21] chouseknecht commented on #260
You have to be collaborator on the role's GitHub repo. Galaxy checks the GitHub API to see that the repo is in the list returned by the `user/repos` endpoint.

[2017-05-15 18:22] sbesson commented on #259
@chouseknecht: fantastic, many thanks and no worries about the delay. We'll have a round of internal testing and get back to you if there is any issue.

[2017-05-15 18:34] chouseknecht commented on #261
Checking for an extension of `.md` or `.rst` is left over from the days when Galaxy converted the file to HTML. Now it accepts whatever HTML is returned from GitHub API.

We could modify it to accept files with no extension as text. Not a high priority at the moment though.

[2017-05-16 08:19] wawrzek commented on #260
@chouseknecht - thanks for your answer. The problem is that I'm (user: wawrzek) a collaborator in corda-ansible role. - I'm checking it Setting->Collaborators (https://github.com/corda/corda-ansible/settings/collaboration)

[2017-05-17 11:12] fabiohbarbosa commented on #255
Thanks!

[2017-05-17 11:12] fabiohbarbosa commented on #254
Thanks

[2017-05-30 20:44] ghost commented on #247
FYI,

I had to delete and re-add the role in galaxy in order to resolve this issue.

[2017-05-30 21:08] #247 closed, assigned to nobody

[2017-05-31 04:00] afeld opened #263 "Terms of Service?"
Hello!
I am an employee of the US government, and my team uses Ansible heavily. In using software-as-a-service like Galaxy, Uncle Sam looks for a Terms of Service, specifically one that is "federal-compatible":

https://www.digitalgov.gov/resources/federal-compatible-terms-of-service-agreements/

Wondering if that's something that's been considered at all. Thanks!

[2017-06-01 13:09] rainerduffner commented on #96
What is the status of this enhancement?
We have a private gitlab instance that we would want to use.

[2017-06-02 17:19] KAMI911 commented on #163
I have same issue:
`ansible-galaxy import -vvv kami911 ansible-role-java-oracle-jdk8
Using /etc/ansible/ansible.cfg as config file
Opened /home/kami/.ansible_galaxy
None/imports/
ERROR! Unexpected Exception: unknown url type: None/imports/
the full traceback was:

Traceback (most recent call last):
  File "/usr/bin/ansible-galaxy", line 92, in <module>
    exit_code = cli.run()
  File "/usr/lib/py

[2017-06-03 13:57] BastienF opened #264 "No roles found in your public GitHub repositories"
I got this error while trying to add a role in Ansible Galaxy.
Multiple scans have resulted in Galaxy not being able to find any roles for my account.

I have 2 valide (I think so) ansible galaxy roles in my GitHub repos :
https://github.com/BastienF/ansible-role-acme
https://github.com/BastienF/ansible-role-certificate_authority_manager

I have tried to revoke and reallow Ansible Galaxy from my G

[2017-06-07 09:47] BastienF commented on #264
Problem solved.
FI: The role content has to be at the root of the git repository to be found by galaxy.

[2017-06-07 09:47] #264 closed, assigned to nobody

[2017-06-15 13:33] rixx commented on #250
I have run into the same issue – the PR has now been merged; in which ansible version is it expected?

[2017-06-15 13:41] rixx commented on #250
I have run into the same issue – the PR has now been merged; in which ansible version is it expected?

[2017-06-15 14:34] TheWarBadger opened #265 "files of the form tasks/<ROLE_NAME>-some-text.yml have their name truncated on install"
Steps to reproduce:

    #!/bin/sh -ex
    mkdir /tmp/test-galaxy
    cd /tmp/test-galaxy
    mkdir roles-remote roles
    (cd roles-remote && ansible-galaxy init test-role)
    cat > roles-remote/test-role/tasks/main.yml <<EOF
    ---
    - include: {{ role_path }}/tasks/test-role-some-tasks.yml
    EOF
    cat > roles-remote/test-role/tasks/test-role-some-tasks.yml <<EOF
    ---
    - name: prin

[2017-06-18 21:45] rahul0705 commented on #229
any ETA when this will make it to the galaxy page?

[2017-06-18 23:01] rahul0705 opened #266 "Failed import through command line locks out that role name"
If you try to import a role through command line and include the --role-name and you provide incorrect arguments it will timeout the import and key the role-name locked

example:
[code]

This was a mistake (the extra username in the repo field). This creates the following log:

[code]

Once that times out we still cannot use the certbot role name in the rahul0705 namespace.

[code]

[2017-06-19 11:50] lifeofguenter opened #267 "Support any CI-server for notifications."
The notification/webhook trigger via CircleCI is not working - e.g. ansible-galaxy is not registering it.

Update: seems like according to the code only circleci is currently being supported. E.g. would be cool if there were general trigger support so it can be triggered from any cicd-server (incl. jenkins)

[2017-06-20 03:54] rahul0705 commented on #266
Also if possible, can that role be deleted? looking through the source code it looks like only staff can fix this issue, until a fix to adding roles is made.

[2017-06-20 12:50] #260 closed, assigned to nobody

[2017-06-20 12:51] wawrzek commented on #260
I can see it now. No changes applied on my side.

[2017-06-24 11:05] fubarhouse opened #268 "Artful is not a valid platform?"
So, would anybody know how I could get around this import problem.

[code]

[2017-06-27 14:40] JeroenED commented on #253
@chouseknecht the issue still persists. Account created around 3.30PM. I'm managing my own server (using Kolab) and the maillog did not receive any mail from ansible. This is the maillog. I tried sending an email to support, however email does not exist :(
[code]

[2017-06-28 14:05] deathowl opened #269 "Support for private repos"
Hello guys! We've been exploring using a self hosted galaxy instance to share ansible playbooks within the company, however most of them are in private repositories.
By changing the scope in settings.py used by socialauth from public_repo to repo galaxy was able to get a token with required scopes to access private repos, so imports can finish successfully, however, when i try to ansible-galaxy in

[2017-07-05 21:26] geerlingguy opened #270 "No error when adding a new role/container project that has the same name as an existing project"
## Steps to Reproduce

1. Visit 'roleadd' on Ansible Galaxy (https://galaxy.ansible.com/roleadd#/)
2. Click the 'enable' toggle next to a role named `username/xyz`
3. Click the configure widget, and verify the role name is `xyz`
4. Wait for role import to succeed (green dot next to 'Succeeded')
5. Click the 'enable' toggle next to another role named `username/something-else`
6. Click the configure

[2017-07-13 06:02] otakup0pe commented on #30
I've noticed this has reverted to the old behavior... The Galaxy docs imply that some kind of hash comprised of the username/repo needs to be generated, whereas the current Travis docs talk about some kinda SSL based `Signature` header 😿

[2017-07-13 12:29] TemperingPick opened #271 "Trouble building Galaxy Server"
I've verified that I'm running the requirements and everything seems to be installed correctly but I'm running into issues. When I run make build everything seems to make correctly, I don't get an errors but when I do docker images it only shows a galaxy-develop-conductor. Here's the output when I run make run. Sorry, gist is blocked at my job.

https://gist.github.com/TemperingPick/1c78917e6f2d43

[2017-07-13 17:59] chouseknecht commented on #271
Yep, it's busted. This is a known issue. I'm out today, and possibly tomorrow. Currently being a dutiful citizen, and performing my civil obligation. When I return, I shall make it a priority to fix this.

[2017-07-14 15:16] chouseknecht commented on #30
@otakup0pe

The Galaxy UI no longer prompts for a Travis token, and the API looks for the SSL based signature you mention.

The Docs at the [Ansible Docs site](http://docs.ansible.com/ansible/galaxy.html#travis-integrations), and indeed the Galaxy CLI are a bit out of date, and still reference/look for the user to supply a Travis generated token.

Adding this to my list of things to work on next w

[2017-07-17 15:13] RainerW opened #272 "separation of concern not meet with non galaxy dependencies"
In our dev environment we want to run the exact same script as in production. But with full qualified urls inside the requirements.yml, this is not possible, because the production network is secured and the servername differ quite a lot.

#48 suggest to use fully qualified urls inside a requirements.yml ( http://docs.ansible.com/ansible/galaxy.html#installing-multiple-roles-from-a-file ) Becasue

[2017-07-17 19:54] chouseknecht commented on #271
@TemperingPick

This is now fixed. I upgraded the project to use [Ansible Container 0.9](https://github.com/ansible/ansible-container), and got things working again. At least they work in my environment, and on Travis.

After cloning the project, or pulling the latest code, run the following to build images:

[code]

Once the image build completes, start the application by running the following:

[2017-07-17 20:49] TemperingPick commented on #271
So I've built Ansible Container from the source, and when I run build it gives me an error "ansible.errors.AnsibleUndefinedVariable: 'galaxy_postgres_password is undefined. Running docker image also still shows only one galaxy-develop-conductor image.

Is there something I need to do before I try to build the new code? Tried make clean but that didn't seem to help.

[2017-07-17 20:51] alessfg opened #273 "No roles found in "My Roles" - Cannot delete failed imports in "My Imports""
I am running into two issues with Ansible Galaxy.

First, I cannot seem to view any of my organizations repositories from within the "My Roles" section in Ansible Galaxy.

Second, the "My Imports" section seems to have broken. I have two failed imports which I can't seem to get rid of via the web interface (since the roles don't appear on "My Roles") or via the CLI. One of the failed imports corre

[2017-07-17 21:04] chouseknecht commented on #271
Added `--devel` flag to the `build` and `run` targets. Since we're running from source, we probably need that.

From in your clone of Galaxy, run the following:

[code]

[2017-07-17 21:09] chouseknecht commented on #273
I don't think the failed imports really matter.

To view repos from your organization, you need to be a collaborator or admin on the repos you wish to import.

Another potential issue may be the number of repositories you have access to. I don't know what that number is for you, but if it's a large number, then Galaxy won't be able to access and inspect all of the repos. At some point it exceeds t

[2017-07-17 21:52] alessfg commented on #273
Thanks for the quick reply!

I am a collaborator on both of those repos - I created them!

I have access to ~65 repos. That surely must be below the limit for API requests? When I first setup my account the repos did appear after all. It was only after I started tweaking with them that they disappeared.

The `ansible-galaxy` CLI seems to not be working all that well on my end as I can only import

[2017-07-18 12:24] TemperingPick commented on #271
Still getting the same error even with adding --revel to both build and run.

On Mon, Jul 17, 2017 at 5:04 PM Chris Houseknecht <notifications@github.com>
wrote:

[2017-07-18 17:24] chouseknecht commented on #271
Can you please share the log output.

[2017-07-18 17:27] TemperingPick commented on #271
2017-07-18T10:45:17.324485 The default type is            [container.config] caller_file=/home/USER/ansible-container-develop/container/config.py caller_func=_resolve_defaults caller_line=  160 config=<class 'ruamel.yaml.comments.CommentedMap'> defaults=<type '_ordereddict.ordereddict'>
2017-07-18T10:45:17.325490 Getting environment variables... [container.config] caller_file=/home/USER/ansible-co

[2017-07-18 17:36] chouseknecht commented on #271
Are you running the latest Ansible Container from source?

Commit [7914a7a1380c5c1a3091720644d928bba2ea64e2 ](https://github.com/ansible/ansible-container/commit/7914a7a1380c5c1a3091720644d928bba2ea64e2) is required for the `settings.vars_files` directive in `container.yml` to work. Please confirm that you have this code.

[2017-07-18 18:07] chouseknecht commented on #273
Deleted all references and imports related to the `nginx_oss` role. I don't see any other roles associated with the `nginxinc` namespace.

See if you can import it through the web site now.

[2017-07-18 22:58] alessfg commented on #273
That seems to have fixed everything! Thanks!

[2017-07-18 22:58] #273 closed, assigned to nobody

[2017-07-20 12:22] TemperingPick commented on #271
Yep, that was my issue. Thanks! The versions were the same so I didn't download the latest version. I do have another issue but it's separate from this so I'll open up a new issue.

[2017-07-20 12:22] #271 closed, assigned to nobody

[2017-07-20 12:27] TemperingPick opened #274 "Proxy use when running Galaxy"
I'm behind an HTTP proxy when trying to run Galaxy so I can't download packages or docker images without a proxy. I've verified that Docker is working fine behind the proxy, and any packages that it fails on I can pull from the local machine. Is there something I need to do to get the containers to be able to use the proxy?

I had to modify the docker template to build the conductor, but running t

[2017-07-22 13:31] henriklynggaard opened #275 "Add fedora 26"
Fedora 26 not accepted during role import

"
Starting import 110354: role_name=gogland repo=henriklynggaard/ansible-role-gogland
Accessing branch: master
Parsing and validating meta data.
Parsing galaxy_tags
Parsing platforms
Invalid platform: Fedora-26 (skipping)
Parsing and validating README
Adding repo tags as role versions
Removing old tags
Import completed
Status FAILED : warnings=0 errors=1

[2017-07-24 16:07] chouseknecht commented on #274
@TemperingPick

Not sure there is a programmatic way to do what you need. The first step is to add the `http_proxy` and/or `https_proxy` environment variables to the `container.yml` file, like so:

[code]

[2017-07-24 16:10] chouseknecht commented on #275
@henriklynggaard

Thanks for pointing this out!

Fedora 26 is now available.

[2017-07-24 16:10] #275 closed, assigned to nobody

[2017-07-24 16:15] chouseknecht commented on #268
@fubarhouse

Thanks for pointing this out. Ubuntu Artful is now a platform.

[2017-07-24 16:15] #268 closed, assigned to nobody

[2017-07-24 16:23] chouseknecht commented on #265
@CuriousBadger277

The Galaxy client attempts to reduce the name by removing occurrences of 'ansible' and 'role'. If it's not quite giving you the result you want, I would recommend using a `requirements.yml` file to perform the install. This would allow you to set the `name` option, and thereby have explicit control of the installed role name.

See [installing multiple roles from a file](http://d

[2017-07-24 16:40] TemperingPick commented on #274
@chouseknecht

Is there any where else that I might need to add the environmental variables? I've added them to the main container.yml but the get_url module is still failing even when it says use_proxy=true. I know it's something with the containers because I can wget the file from the server.

[2017-07-24 19:36] chouseknecht commented on #274
@TemperingPick

As an experiment, you might try modifying the task directly, so that it looks like the following:

[code]

See http://docs.ansible.com/ansible/latest/playbooks_environment.html for more details, if needed.

I was hoping to avoid modifying the tasks by setting the environment variables at the service level in `container.yml`.

[2017-07-24 19:56] TemperingPick commented on #274
@chouseknecht
Doesn't look like get_url supports the environment parameter. It only supports the use_proxy which is set as true.

"    "msg": "Unsupported parameters for (get_url) module: environment. Supported parameters include: attributes,backup,checksum,client_cert,client_key,content,delimiter,dest,directory_mode,follow,force,force_basic_auth,group,headers,http_agent,mode,owner,regexp,remote_s

[2017-07-25 02:03] chouseknecht commented on #274
@TemperingPick

It's not a module parameter. Take a look at the example below. The module name and `environment` should be at the same indentation level.

[code]

[2017-07-25 02:57] TemperingPick commented on #274
@chouseknecht

Yep that did it! Thanks so much!! If there's a place for it I'd love to document which steps needed to have the environment step added so no one else needs to try and fight with all of this.

[2017-07-25 09:06] TheWarBadger commented on #265
Name mangling of the role is sane and well documented. Name mangling the files inside it is unexpected, at least to me.

Naively I would expect the following `tasks/main.yml` to work:

    ---
    - include: '{{ role_path }}/tasks/test-role-some-tasks.yml"
    ...

There is an obvious work around to this but as far as I can tell it's just an arbitrary restriction on file names to be used inside a

[2017-07-25 11:34] bouncingsoles commented on #243
I had the same issue.  You need to make sure that you have created a meta directory with a main.yml.  I had a syntax error in my meta so role wouldn't show up.  Use a linter or run ansible-playbook with syntax check to make sure the yaml is OK.

[2017-07-27 17:00] frgray commented on #70
+1

[2017-07-28 02:20] rahul0705 commented on #266
Is there a way of deleting an import?

Because when I try to delete the incorrect import I get

[code]

[2017-07-30 18:31] roolo opened #276 "Valid platforms: MacOSX + macOS (2016)"
In 2016 Apple changed naming to macOS -- https://en.wikipedia.org/wiki/MacOS#macOS . I think, there should be new valid platform in Ansible which would reflect this change.

[2017-07-31 14:22] gregdek commented on #263
Hi @afeld. This isn't something we have the bandwidth to explore -- and honestly, I'm not sure that you necessarily want to be relying on Galaxy roles without further audit anyway. These are community roles, after all.

Since all Galaxy roles actually live on Github, one possibility is to use the Galaxy website to find roles that are to your liking, and then if you want to consume them directly, h

[2017-07-31 14:24] gregdek commented on #263
On further examination of some of the ToSes quoted, they don't look onerous. We'll keep it on the list. May not happen soon, but will keep it open.

[2017-08-03 14:26] chouseknecht commented on #276
Thanks for pointing this out!

Added 'macOS Sierra'. Going forward we'll use 'macOS' as the platform, and the name (e.g. *Sierra*,  *El Capitan*, etc) as the release. This seems to line up with Apple's web site.

[2017-08-03 14:26] #276 closed, assigned to nobody

[2017-08-04 09:31] dfarrell07 opened #277 "Role install fails with "file downloaded was not a tar.gz" for non-GitHub repo"
Installing a role from a custom git repo fails:

[code]

Installing the same role from a mirror GitHub repo works:

[code]

[code]

[2017-08-04 19:56] chouseknecht commented on #277
@dfarrell07

I don't think `ansible-galaxy` is able to follow the redirect that's happening. That's my guess anyway.

When I put they following into my browser:

[code]
I get redirected to:
[code]
And using the second URL, it installs the role as expected, which is what you're seeing as well.

The first URL points to `gerrit`, which I'm not familiar with. I know it has to do with code reviews, but

[2017-08-08 12:45] dfarrell07 commented on #277
@chouseknecht

I can do a `git clone` of that repo

[code]

And it's the HTTPS clone URL recommended on the [Gerrit/GitWeb summary page for the repo](https://git.opendaylight.org/gerrit/gitweb?p=integration/packaging/ansible-opendaylight.git;a=summary).

I can't recreate the redirect you mentioned and find it unlikely as it's a one-way interaction (Gerrit knows nothing about GitHub, GitHub watches

[2017-08-08 20:28] chouseknecht commented on #277
Yes, I can do a `git clone` of it as well. The other day it was redirecting, but now it doesn't seem to be.

This is working for me:

[code]

[2017-08-08 20:34] chouseknecht commented on #277
Changing `requirements.yml` to the following also works:

[code]

And then run the install...

[code]

So maybe the syntax in your requirements.yml is off. Instead of `src:`, it should be `src: git+`.

[2017-08-09 07:54] dfarrell07 commented on #277
@chouseknecht

Prefixing the URL with `git+` makes things work as expected.

Explicitly specifying `scm` also works:

[code]

I wonder why ansible-galaxy doesn't need this hint when cloning from GitHub? Could it be improved to automatically do the right thing for other tools, like Gerrit?

Thanks for the help!

[2017-08-09 16:19] chouseknecht commented on #277
@dfarrell07

Perhaps `ansible-galaxy` could be modified to *do the right thing*. Not sure. Pull requests welcome :-)

Closing this, since I think we figured out the issue.

Thanks!

[2017-08-09 16:19] #277 closed, assigned to nobody

[2017-08-21 04:32] martbhell opened #278 "Organization Rename"
Hello!

Seems our roles https://galaxy.ansible.com/CSC-IT-Center-for-Science/ don't update because we have renamed our organization to "CSCfi" on github.
How do I go about changing the pointer to CSCfi?
Would anybody still using the old and long link still work after this rename?

// Johan

[2017-08-21 13:16] veryhappythings commented on #265
I've just run up against this today trying to install a collectd role from galaxy. Our requirements file had given it a name of `collectd`, which results in the `etc/collectd/collectd.conf.j2` template being installed as `etc/.conf.jw`.

The workaround is to add a different name in the requirements file. Just wanted to add my name to the list of people that this has bitten!

[2017-08-21 16:01] chouseknecht commented on #265
@veryhappythings
@CuriousBadger277

Looks this was indeed a problem in 2.3.0, and it was resolved. See [Ansible issues 22572](https://github.com/ansible/ansible/issues/22572). According the last comment on that ticket, you will need to upgrade to 2.3.1 to see the change.

Closing, as I believe this to be resolved. Please comment, if otherwise.

Thanks!

[2017-08-21 16:01] #265 closed, assigned to nobody

[2017-08-21 16:12] chouseknecht commented on #266
@rahul0705

Apologies for not seeing and responding to this. Got your email. I deleted the `ansible-certbot` role. In theory, you should be able to import it from scratch.

[2017-08-21 16:43] chouseknecht commented on #278
@martbhell

It appears that right now all of your Galaxy roles work. Or, at least the one I tested works.

I can update the 'namespace' in the Galaxy database, and that should accomplish what you're looking for.

I expect that once we change the namespace to `CSCfi`, then users attempting to run `ansible-galaxy install CSC-IT-Center-for-Science.<role_name>` will be broken.

Please confirm that you

[2017-08-21 16:53] martbhell commented on #278
Hello, update away please :)

[2017-08-21 17:08] rahul0705 commented on #266
@chouseknecht

I will try the import, but a quick look at my list if imports show that the import rahul0705/rahul0705/ansible-certbot (the repo that does not exist) is still on the list.

After trying to use the slider on https://galaxy.ansible.com/roleadd#/ it seems that the repo rahul0705/ansible-certbot stays in the running state. When I press the running link for more details I only see the ra

[2017-08-22 01:24] chouseknecht commented on #266
@rahul0705

The imports are now deleted as well. Let me know if that fixes it.

[2017-08-22 01:37] rahul0705 commented on #266
Normal import was successful:

[code]

But when renaming it to certbot I get the same conflict as before:
[code]

Any suggestions?

[2017-08-22 01:41] chouseknecht commented on #278
Updated.

I had trouble moving the following roles:

[code]

They seemed to be duplicates, so I deleted them from the old namespace. However, they're not showing up under the new namespace.

Can you try re-importing these, assuming you still want them, and let me know what happens.

Thanks!

[2017-08-22 02:30] chouseknecht commented on #266
OK. There was an `ansible-certbot` role and a `certbot` role. I had only deleted the `ansible-certbot` one. Now they are both deleted.  Give it another try.

[2017-08-22 02:40] rahul0705 commented on #266
that worked 👍 thank you so much and sorry for all the trouble! if you want to close this issue I'm good with that (or I can close it if you want) 👍

[2017-08-22 03:54] #266 closed, assigned to nobody

[2017-08-22 04:38] martbhell commented on #278
Hm. Some of those we do want and I can't re-add them.

When I now go to https://galaxy.ansible.com/roleadd#/ I don't see the roles of my new organization's name, they old ones still have the old name and I don't see all.

How do I get them? Do I need to remove and the organization?

[2017-09-07 14:22] aalex opened #279 "List my starred roles"
Is it possible to view the list of roles I have starred? I didn't find how.

[2017-09-08 05:23] martbhell commented on #278
Hello @chouseknecht ?

[2017-09-11 15:17] chouseknecht commented on #279
No. It's not currently possible. For now you would have to do this through GitHub, looking at repos that you've starred.

This might be a good feature idea though.

[2017-09-11 15:25] chouseknecht opened #280 "Meeting minutes from contributor meeting - AnsibleFest, September 2017"
During the Galaxy Working Group session, the following topics were discussed:

- Make API docs better
    - Let users know that the API exists
    - Mirror what AWX does, by providing inline API docs
- Review the Tuft's UI suggestions
    - Are there ways to surface more up-to-date (and by extension more relevant) roles first?
    - Possibilities might be issues graph, last commit date, time to re

[2017-09-12 13:10] kso512 opened #281 "Unable to "remove" role after import"
I created some Ansible roles with long names, and I'm in the process of shortening them.  I'm running into "ERROR! Unexpected Exception: No JSON object could be decoded" errors in the command line, and "500 Server Error An error occurred while loading the requested page. Please report this error at Galaxy Issues." errors in the browser.

_____

[code]

[2017-09-12 16:03] chouseknecht commented on #281
@kso512

Sorry to hear your running into this.

I'm not entirely sure of the state of the `setup` command with the `ansilble-galaxy` CLI. A while back we dropped the use of Travis tokens, and the CLI has not been updated. I'll poke at that.

Also, not sure why you're experiencing 500 errors. I can view your roles on the Galaxy site just fine. Might be worth trying a different browser, or clearing

[2017-09-12 16:06] chouseknecht commented on #278
@martbhell

Apologies. I have some time to work on this now.

Not clear on exactly what you need me to do. I see lots of roles under the new 'CSCfi' organization. What's missing, or what needs deleting?

[2017-09-12 16:23] martbhell commented on #278
Hi,  when I go to my account and import and add role I only see old organization name, not the new one. How do I get the new one there?

[2017-09-12 16:42] chouseknecht commented on #278
@martbhell

There is a link near the top of the My Roles page that takes you into GitHub where you can grant Galaxy access to your orgs.  Look for "If you don't see all of your roles, review and add your authorized organizations."

[2017-09-12 16:47] martbhell commented on #278
ansible galaxy oauth is allowed access to the organization.  I don't see that text on github.
I see the role I want to update in galaxy by the way, it's just pointing to the old organization name it seems - if I do a reimport it does not find the new tag.  The role I'm looking at is ansible-role-cuda by the way.

[2017-09-12 17:21] kso512 commented on #281
@chouseknecht

Thanks for helping! :)

I was seeing the 500 errors via my browser when looking at the API pages shown in the "-vvv" output.

I think the problem stems from the first role; it was named "ansible-install-check_mk-server" in Github, but Galaxy shortened that to "install-check_mk-server" on first import.  Now I'm trying to rename, and the server is already seeing "install-check_mk-serv

[2017-09-12 17:31] chouseknecht commented on #278
@martbhell

Curious. What if you attempt to import it via the command line?  You can use the `ansible-galaxy` CLI to authenticate with GitHub, and then start an import. Instructions here: http://docs.ansible.com/ansible/latest/galaxy.html#authenticate-with-galaxy

Sometimes, when a user has access to lots of repos on GitHub, the Galaxy server can't process and present the entire list. It actually

[2017-09-12 17:33] martbhell commented on #278
Cool! I'll give it a shot.  Next update in a day or two.

[2017-09-13 05:53] martbhell commented on #278
OK that manual import worked and updated this one role, but we have as you say many roles.
Does this mean if we want to update roles on ansible-galaxy (while keeping the old organizational name/symlink working) we need to run this command manually every time there's an update?

From the output below these two work:
https://galaxy.ansible.com/CSCfi/cuda/
https://galaxy.ansible.com/CSC-IT-Center-for

[2017-09-13 07:28] shibayu36 opened #282 "Unable to refresh repositories and import role with a specific user"
I use galaxy's user named MACKEREL.  When I log in this user, I cannot "Refresh Your Repositories from GitHub" and "Import Role" from https://galaxy.ansible.com/roleadd#/ page.

I saw Network tab in chrome developer tools, then I found a refresh endpoint( https://galaxy.ansible.com/api/v1/repos/refresh/ ) returns Internal Server Error.

I thought this problem occurs because this account named MACK

[2017-09-13 11:56] rbhadti94 opened #283 "Cannot access admin user page after admin user creation"
I have successfully managed to create an admin user using:
``` make createsuperuser```
the following is the console output:
[code]
However when I access:
```<machine_ip>:8080/admin```

I see:
[code]

[2017-09-13 16:00] #283 closed, assigned to nobody

[2017-09-15 11:43] DanyC97 commented on #244
another use case is where you have a role with some tasks and you want based on passing in a variable value and jinja condition to generate you the role using `ansible-galaxy init`

[2017-09-15 15:10] kso512 commented on #281
I was able to get the older version removed, and now only the pure "install-check_mk-server" role exists.

Thanks!

[2017-09-15 15:10] #281 closed, assigned to nobody

[2017-09-24 11:50] suzuki-shunsuke opened #284 "When the platform is 'GenericLinux', the import error occurs"
The platform 'GenericLinux' is included in the [Platform List](https://galaxy.ansible.com/api/v1/platforms/), but on the Ansible Galaxy the following error has occured.

https://galaxy.ansible.com/imports#/?github_user=suzuki-shunsuke&github_repo=ansible-rkt-binary

[code]

<img width="978" alt="2017-09-24 20 45 53" src="https://user-images.githubusercontent.com/13323303/30782255-6d3a9574-a169-11e

[2017-09-24 13:05] suzuki-shunsuke commented on #284
This is the meta/main.yml .

https://github.com/suzuki-shunsuke/ansible-rkt-binary/blob/9f696a1e4d954468008f65c0305420964df09b1d/meta/main.yml

[code]

[2017-09-29 17:27] dminca opened #285 "404 Not found for existing role"
Running on ArchLinux `ansible 2.4.0.0`, I got a role deployed on Ansible Galaxy called [vim-ansible-role][1]. As you can see, the role exists and passed the CI test.

But when I try to download it via `ansible-galaxy install -r `[requirements.yml][2] it's throwing **404 Not found**.

#### EXECUTION LOGS

[code]

I tried re-adding the role on Galaxy, but that didn't work out. I've even tried changi

[2017-09-29 17:38] danlamanna commented on #285
While I'm not experiencing this exact issue, I've run into an issue in
recent weeks where a role of mine is 404'ing because it's been renamed
(not by my doing). (The role in question is girder.worker being renamed
to girder.girder-worker).

It's entirely possible this is unrelated, but I thought I would add
another potential data point.

On Fri, Sep 29, 2017 at 17:27 PM, Daniel Andrei Mincă <notif

[2017-09-29 17:41] danlamanna opened #286 "404 page for roles uses 200 status header"
For example,
[code]
returns a 200 OK while the content of the page notes that it's a 404.

[2017-10-01 21:17] chouseknecht commented on #285
The 404 is coming from the path the Galaxy client is using to download the archive file: `https://github.com/WizDevOps/vim-ansible-role/archive/origin/master.tar.gz`

For some reason it contains `origin`. Remove that, and the download works.

[2017-10-01 21:18] chouseknecht commented on #285
@dminca

Change the value of `github_branch` in your meta data https://github.com/WizDevOps/vim-ansible-role/blob/master/meta/main.yml#L8

[2017-10-02 03:34] BondAnthony opened #287 "Failing to remove a travis integration with the ansible-galaxy cli"
While attempting to remove a travis integration with `ansible-galaxy setup --remove  <ID>` command the client is receiving a malformed document from `https://galaxy.ansible.com/api/v1/notification_secrets/<ID>/`.

Should the `ansible-galaxy --remove` command send DELETE requests to the notification_secrets endpoint?

While searching the API docs it appears only `Allow: GET, POST, HEAD, OPTIONS` is

[2017-10-02 04:44] dminca commented on #285
Works now. Wow, this is one of those stupid issues :smile: thank you very much @chouseknecht :tada:

[2017-10-02 04:44] #285 closed, assigned to nobody

[2017-10-02 11:31] chouseknecht opened #288 "Backend Testing"
Create API tests!

[2017-10-03 19:57] chouseknecht opened #289 "Galaxy Bot"
Create a task worker that evaluates the level of activity for each role, and determines if a given role has been abandoned. Things to be evaluated:

- Days since last commit
- Days since last closed issue
- Days since last download
- Days since last import

Perhaps each of the above criteria gets a weight? Not sure, but the end result is a score.

Once an 'activity' score is determined it needs to

[2017-10-04 01:21] conn commented on #229
I'm affected by this bug too

[2017-10-04 12:12] daften commented on #279
+1

[2017-10-04 16:51] danlamanna commented on #286
Thanks for taking care of this!

[2017-10-05 13:33] chouseknecht opened #290 "Production Containers"
When we execute `ansible-container run --production` containers should take on a more "production-like" configuration. Specifically for now:

- Django should run via WYSGI (green unicorn or uwysgi)
- Requests should proxy through Nginx
- Gulp should not be running
- All javascript and frontend bits should be static files served by Nginx
- Run celery as a separate container

We also talked about sp

[2017-10-06 09:22] chargio commented on #290
👍

[2017-10-06 13:20] chouseknecht commented on #284
@suzuki-shunsuke

The platform in your `meta/main.yml` should be an object, and should look like the following:

- name: GenericLinux
    versions:
    - any

Thant should fix it. Let us know, if you still run into trouble.

Thanks!

[2017-10-06 13:20] #284 closed, assigned to cutwater

[2017-10-06 17:48] chouseknecht commented on #282
@shibayu36

I'm confused. If I look at https://github.com/mackerel, there are 0 repositories. Are the repositories part of an organization? And if so, is Galaxy authorized with the organization?

[2017-10-08 15:06] rbhadti94 commented on #283
This has been fixed by https://github.com/ansible/galaxy/commit/731835e68c61e26e1c4c79750e0383abbcc2acba

Thanks very much

[2017-10-09 11:18] cutwater opened #291 "Build fails due to version conflict with npm package "less""
NPM package `less` updated to version `3.0.0`, which causes a dependency check error while building galaxy containers:

[code]

[2017-10-09 13:51] cutwater commented on #291
Fixed by ansible/galaxy#28

[2017-10-09 13:51] #291 closed, assigned to cutwater

[2017-10-09 16:56] rbhadti94 opened #292 "OAuth Issue With Github & Bitbucket"
I've followed instructions to setup Galaxy.

1. At the moment the server is running on IP address **A.B.C.D** on an AWS machine. (This is non-prod mode so everything is still in docker containers).

2.  There is an Nginx reverse proxy setup so that the Django container port 8000 is forwarded to 80. Thus the galaxy main page is accessible via **http://A.B.C.D**.

3. I've added the Github Social App

[2017-10-10 02:34] shibayu36 commented on #282
@chouseknecht

We got MACKEREL user a long time ago (maybe in 2015).  And if I remember correctly, we could decide an account name freely at that time.  So our account name is MACKEREl, but our repositories are in https://github.com/mackerelio .  (https://github.com/mackerel is other user's account whom I don't know).

Now, I think MACKEREL is connected to multiple github users in the mackerelio o

[2017-10-10 13:36] chouseknecht commented on #292
@rbhadti94

There is some setup you need to do inside the Admin site. It's mentioned in the Contributing doc here: https://github.com/ansible/galaxy/blob/develop/CONTRIBUTING.md#connect-to-github

As far as adding BitBucket, that's not currently on our roadmap. There's a bunch of work we would need to do in the UI, the Celery tasks, and models to support BitBucket. If you have some design ideas, w

[2017-10-10 13:42] danlamanna commented on #292
Does the same go for GitLab? Also are you talking only about the
server-side galaxy application, or support for checking out from URLs on
the ansible-galaxy cli side as well?

On Tue, Oct 10, 2017 at 13:36 PM, Chris Houseknecht <notifications@github.com> wrote:

[2017-10-10 14:36] chouseknecht opened #293 "Remove the 'refresh repo cache' step from login process"
When a user logs in we attempt to refresh their list of GitHub repos. I think this had to do with rendering the My Roles page faster. Instead, lets look at the process for populating My Roles, and make that better.

[2017-10-10 15:32] gregdek commented on #292
I'd say we're closer to working on GitLab than we are on Bitbucket, since GitLab has a lot more public repositories and has a model that's more similar to GitHub. The challenge is that we'll basically need to completely rework our auth setup, since assumption of GitHub auth simplifies a lot of things for us.

[2017-10-10 16:18] rbhadti94 commented on #292
Hi @chouseknecht,

I've followed those instructions for my AWS machine and used my AWS machine IP, instead of localhost when registering an OAuth application on Github.

I only see _localhost_ when I try to add Github as a social application.

To clarify, I have set this up running on an AWS machine and am accessing the Galaxy portal through my local PC. So when I click _Login With Github_ it redi

[2017-10-10 16:48] cutwater commented on #292
@rbhadti94 can you plese share your `/etc/galaxy/settings.py` file, excluding any sensitive data.

[2017-10-10 18:08] cutwater commented on #270
@geerlingguy I cannot reproduce this issue neither on http://galaxy.ansible.com, nor on latest development branch. Please confirm if it's still valid.

[2017-10-10 18:46] rbhadti94 commented on #292
Hi @cutwater,

The ```/etc/galaxy/settings.py``` file is below. This was obtained from the running django container. Before building/running the containers, I modified the ```settings-develop.py.j2``` file to use my AWS machine. The ```ALLOWED_HOSTS``` variable below reflects this. My AWS machine IP is ```A.B.C.D```.

[code]

[2017-10-10 20:46] cwarner-mdsol commented on #244
I can probably do some initial work here but it won't be for a little bit, so basically we'll run with the above.

[2017-10-10 21:27] chouseknecht commented on #290
It's still hard to deploy a production Galaxy environment. I had to stand one up for DJ, and had trouble with the following:

- Make var file dynamic, so that there is a version from development and one for production. We'll need to remove the reference from container.yml
- Only load test data if environment is development
- Enable HTTP redirect within nginx. This would be an optional configuratio

[2017-10-11 01:16] chouseknecht commented on #290
One more thought on this...

We need to have the following:

- Prebaked django and celery images available on Docker Hub
- An installer playbook and documentation similar to AWX that deploys the pre-built images

[2017-10-11 11:45] cutwater opened #294 "Upgrade django from 1.8 to 1.11"
### Action items:

- [ ] Replace `patterns()` with lists of urls.

- [ ] Replace string views with callables.

- [ ] Replace usage of `django.utils.importlib`

More changes to be added.

[2017-10-11 14:17] rbhadti94 commented on #292
@chouseknecht, @cutwater

I've fixed this now. The SQL file located at ```../roles/django-role/files/update_site.sql``` can be modified to take the domain name or IP address of the AWS machine. (Not sure if this is good practice)

Thanks for the help. I'd be more than happy to help out with any Bitbucket plans/ideas!

[2017-10-11 14:17] #292 closed, assigned to nobody

[2017-10-11 16:25] #287 closed, assigned to cutwater

[2017-10-13 00:42] chouseknecht commented on #294
This issue was moved to ansible/galaxy#33

[2017-10-13 00:42] #294 closed, assigned to cutwater

[2017-10-13 00:43] chouseknecht commented on #293
This issue was moved to ansible/galaxy#34

[2017-10-13 00:43] #293 closed, assigned to nobody

[2017-10-13 00:44] chouseknecht commented on #290
This issue was moved to ansible/galaxy#35

[2017-10-13 00:44] #290 closed, assigned to cutwater

[2017-10-13 00:44] chouseknecht commented on #289
This issue was moved to ansible/galaxy#36

[2017-10-13 00:44] #289 closed, assigned to nobody

[2017-10-13 00:44] chouseknecht commented on #288
This issue was moved to ansible/galaxy#37

[2017-10-13 00:44] #288 closed, assigned to cutwater

[2017-10-13 00:45] chouseknecht commented on #286
This issue was moved to ansible/galaxy#38

[2017-10-13 00:45] #286 closed, assigned to cutwater

[2017-10-13 00:45] chouseknecht commented on #282
This issue was moved to ansible/galaxy#39

[2017-10-13 00:45] #282 closed, assigned to cutwater

[2017-10-13 00:46] chouseknecht commented on #280
This issue was moved to ansible/galaxy#40

[2017-10-13 00:46] #280 closed, assigned to nobody

[2017-10-13 00:46] chouseknecht commented on #279
This issue was moved to ansible/galaxy#41

[2017-10-13 00:46] #279 closed, assigned to nobody

[2017-10-13 00:46] chouseknecht commented on #278
This issue was moved to ansible/galaxy#42

[2017-10-13 00:46] #278 closed, assigned to chouseknecht

[2017-10-13 00:47] chouseknecht commented on #274
This issue was moved to ansible/galaxy#43

[2017-10-13 00:47] #274 closed, assigned to nobody

[2017-10-13 00:47] chouseknecht commented on #272
This issue was moved to ansible/galaxy#44

[2017-10-13 00:47] #272 closed, assigned to nobody

[2017-10-13 00:48] chouseknecht commented on #269
This issue was moved to ansible/galaxy#45

[2017-10-13 00:48] #269 closed, assigned to cutwater

[2017-10-13 00:49] chouseknecht commented on #267
This issue was moved to ansible/galaxy#46

[2017-10-13 00:49] #267 closed, assigned to nobody

[2017-10-13 00:49] chouseknecht commented on #270
This issue was moved to ansible/galaxy#47

[2017-10-13 00:49] #270 closed, assigned to cutwater

[2017-10-13 00:50] chouseknecht commented on #263
This issue was moved to ansible/galaxy#48

[2017-10-13 00:50] #263 closed, assigned to gregdek

[2017-10-13 00:50] chouseknecht commented on #262
This issue was moved to ansible/galaxy#49

[2017-10-13 00:50] #262 closed, assigned to nobody

[2017-10-13 00:50] chouseknecht commented on #261
This issue was moved to ansible/galaxy#50

[2017-10-13 00:50] #261 closed, assigned to nobody

[2017-10-13 00:50] chouseknecht commented on #258
This issue was moved to ansible/galaxy#51

[2017-10-13 00:50] #258 closed, assigned to nobody

[2017-10-13 00:50] chouseknecht commented on #256
This issue was moved to ansible/galaxy#52

[2017-10-13 00:50] #256 closed, assigned to nobody

[2017-10-13 00:50] chouseknecht commented on #253
This issue was moved to ansible/galaxy#53

[2017-10-13 00:50] #253 closed, assigned to chouseknecht

[2017-10-13 00:51] chouseknecht commented on #229
This issue was moved to ansible/galaxy#54

[2017-10-13 00:51] #229 closed, assigned to chouseknecht

[2017-10-13 00:51] chouseknecht commented on #230
This issue was moved to ansible/galaxy#55

[2017-10-13 00:52] chouseknecht commented on #231
This issue was moved to ansible/galaxy#56

[2017-10-13 00:52] #231 closed, assigned to nobody

[2017-10-13 00:52] chouseknecht commented on #232
This issue was moved to ansible/galaxy#57

[2017-10-13 00:52] #232 closed, assigned to nobody

[2017-10-13 00:52] chouseknecht commented on #233
This issue was moved to ansible/galaxy#58

[2017-10-13 00:52] #233 closed, assigned to nobody

[2017-10-13 00:52] chouseknecht commented on #234
This issue was moved to ansible/galaxy#59

[2017-10-13 00:52] #234 closed, assigned to nobody

[2017-10-13 00:52] chouseknecht commented on #235
This issue was moved to ansible/galaxy#60

[2017-10-13 00:52] #235 closed, assigned to nobody

[2017-10-13 00:52] chouseknecht commented on #236
This issue was moved to ansible/galaxy#61

[2017-10-13 00:52] chouseknecht commented on #237
This issue was moved to ansible/galaxy#62

[2017-10-13 00:52] #237 closed, assigned to nobody

[2017-10-13 00:52] chouseknecht commented on #238
This issue was moved to ansible/galaxy#63

[2017-10-13 00:52] #238 closed, assigned to nobody

[2017-10-13 00:53] chouseknecht commented on #239
This issue was moved to ansible/galaxy#64

[2017-10-13 00:53] #239 closed, assigned to nobody

[2017-10-13 00:53] chouseknecht commented on #240
This issue was moved to ansible/galaxy#65

[2017-10-13 00:53] #240 closed, assigned to nobody

[2017-10-13 00:53] chouseknecht commented on #241
This issue was moved to ansible/galaxy#66

[2017-10-13 00:53] #241 closed, assigned to nobody

[2017-10-13 00:53] chouseknecht commented on #242
This issue was moved to ansible/galaxy#67

[2017-10-13 00:53] #242 closed, assigned to nobody

[2017-10-13 00:53] chouseknecht commented on #243
This issue was moved to ansible/galaxy#68

[2017-10-13 00:53] #243 closed, assigned to nobody

[2017-10-13 00:53] chouseknecht commented on #244
This issue was moved to ansible/galaxy#69

[2017-10-13 00:53] #244 closed, assigned to nobody

[2017-10-13 00:53] chouseknecht commented on #245
This issue was moved to ansible/galaxy#70

[2017-10-13 00:53] chouseknecht commented on #246
This issue was moved to ansible/galaxy#71

[2017-10-13 00:54] chouseknecht commented on #247
This issue was moved to ansible/galaxy#72

[2017-10-13 00:54] chouseknecht commented on #248
This issue was moved to ansible/galaxy#73

[2017-10-13 00:54] chouseknecht commented on #249
This issue was moved to ansible/galaxy#74

[2017-10-13 00:54] chouseknecht commented on #250
This issue was moved to ansible/galaxy#75

[2017-10-13 00:54] #250 closed, assigned to chouseknecht

[2017-10-13 00:59] chouseknecht commented on #227
This issue was moved to ansible/galaxy#76

[2017-10-13 00:59] #227 closed, assigned to chouseknecht

[2017-10-13 00:59] chouseknecht commented on #224
This issue was moved to ansible/galaxy#77

[2017-10-13 00:59] #224 closed, assigned to chouseknecht

[2017-10-13 00:59] chouseknecht commented on #222
This issue was moved to ansible/galaxy#78

[2017-10-13 00:59] #222 closed, assigned to nobody

[2017-10-13 01:00] chouseknecht commented on #217
This issue was moved to ansible/galaxy#79

[2017-10-13 01:00] #217 closed, assigned to nobody

[2017-10-13 01:00] chouseknecht commented on #206
This issue was moved to ansible/galaxy#80

[2017-10-13 01:00] #206 closed, assigned to chouseknecht

[2017-10-13 01:00] chouseknecht commented on #177
This issue was moved to ansible/galaxy#81

[2017-10-13 01:00] #177 closed, assigned to chouseknecht

[2017-10-13 01:01] chouseknecht commented on #169
This issue was moved to ansible/galaxy#82

[2017-10-13 01:01] #169 closed, assigned to nobody

[2017-10-13 01:01] chouseknecht commented on #168
This issue was moved to ansible/galaxy#83

[2017-10-13 01:01] #168 closed, assigned to nobody

[2017-10-13 01:01] chouseknecht commented on #166
This issue was moved to ansible/galaxy#84

[2017-10-13 01:01] #166 closed, assigned to nobody

[2017-10-15 04:11] liangsuno opened #295 "Ansible galaxy import hang"
When I try to import role it hanged at starting import.

ansible-galaxy import liangsuno https://github.com/liangsuno/ansible-role-packer
Successfully submitted import request 145926
Starting import 145926: role_name=liangsuno.packer repo=liangsuno/https://github.com/liangsuno/ansible-role-packer

This is my ansible-galaxy version.

ansible-galaxy 2.4.0.0
  config file = /etc/ansible/ansible.cfg

[2017-10-15 04:14] liangsuno commented on #295
It failed with name resolution error.

Successfully submitted import request 145926
Starting import 145926: role_name=liangsuno.packer repo=liangsuno/https://github.com/liangsuno/ansible-role-packer
ERROR! Unexpected Exception, this is probably a bug: Failed to connect to galaxy.ansible.com at port 443: [Errno -3] Temporary failure in name resolution
to see the full traceback, use -vvv

When I tes

[2017-10-15 14:18] marcowork commented on #96
I asked Redhat the other day if and when they are going to implement this feature. The awnser was a bit disappointing.

As this is a project and not a product, redhat is not going to do anything. They expext the communicaty to create this feature.

As Gitlab is just another SCM I would actually say, lets fork this and creat a galaxy that fits on every SCM. Also bitbucked, SVN and others.....

[2017-10-16 00:32] liangsuno commented on #295
Successfully imported with this command.

liangsun@yoga:~/lab/github/ansible-role-packer$ ansible-galaxy import liangsuno ansible-role-packer
Successfully submitted import request 146232
Starting import 146232: role_name=packer repo=liangsuno/ansible-role-packer
Accessing branch: master
Parsing and validating meta data.
Setting role name to packer
Parsing galaxy_tags
Parsing platforms
Parsing and

[2017-10-16 05:15] ReSearchITEng commented on #96
@marcowork For anyone to start this would require some clarifications where the current code resides. Does anyone know where is the code that needs to be improved ?

[2017-10-16 13:31] bcoca commented on #96
@marcowork not sure why that requires a fork, just submit PR against https://github.com/ansible/galaxy

[2017-10-16 15:29] marcowork commented on #96
@bcoca you are right. It should not be a fork. But a PR is a bit to much to rewrite the whole project. But I can give it a try

[2017-10-16 16:28] bcoca commented on #96
you don't need to do the whole thing in 1 PR

[2017-10-24 03:25] trombik opened #296 "Invalid platform: OpenBSD-6.2 (skipping)"
the following commit brakes import:

https://github.com/reallyenglish/ansible-role-debug/commit/0b0b480fcd1947fc5a9f565b6b2587a470c5a61c#diff-9b4ddf055111f4371f04fbb8b5366655

[code]

similar issues always will happen when a distribution releases new version, and ansible has not caught up the latest release.

it would be nice if the galaxy warns instead of bailing out.

[2017-10-25 05:55] trombik commented on #296
also happens with `name: FreeBSD, versions: [ 11.1 ]`

[code]